<div class="bg-miru-dark-purple-1000 h-screen font-manrope">
  <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-16 w-auto" src="/miru-logo.png" alt="miru login page">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-miru-white-1000 py-6 px-6 shadow sm:rounded-lg sm:px-10">
            <div class="space-y-3">
              <h2 class="text-xl font-sans font-medium tracking-normal text-miru-dark-purple-1000">
                Password Reset Link Sent
              </h2>
              <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email, class: "tracking-wider block text-sm font-normal text-miru-dark-purple-1000" %>
                  <div class="mt-1">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "block text-base font-bold text-miru-dark-purple-1000" %>
                  </div>
                </div>

                <div class="actions mt-4">
                  <%= f.submit "Resend confirmation instructions", class: "tracking-widest h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-lg font-sans font-medium text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded cursor-pointer" %>
                </div>
              <% end %>

              <%# <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
