<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="display:flex; justify-content:center">
    <div style="width: 640px; height: 702px;" >
      <div style="padding: 40px; background:white;" >
        <div style=" display:flex; flex-direction:column; align-items:center; border-bottom: 2px solid #E1E6EC;" >
          <%= image_tag @invoice.company.logo, height: 80 ,width: 80 %>
          <span style="margin-top: 24px; margin-bottom: 40px;" >
            <span style='font-weight:bold'> <%= @invoice.company.name %> </span>
            has sent you an invoice.
          </span>
        </div>
        <div style="display:flex; flex-direction:column; color:#1D1A31" >
          <span style="margin: 40px; text-align: center; font-weight:bold; font-size: 24px; line-height:28px;" >
            Invoice Summary
          </span>
          <div style='display:flex; justify-content:space-between'>
            <div>
              <div>
                <span style='display:flex; font-weight:normal; font-size:12px;'>
                  Date of Issue
                </span>
                <span style="font-weight:normal; font-size:16px;"> <%= @invoice.issue_date %> </span>
              </div>
              <div>
                <span style='display:flex; margin-top:16px; font-weight:normal; font-size:12px;' >
                  Due Date
                </span>
                <span style="font-weight:normal; font-size:16px;"> <%= @invoice.due_date %> </span>
              </div>
            </div>
            <div>
              <div style='display:flex; flex-direction:column'>
                <span style="font-weight:normal; font-size:12px;">
                  Invoice Number
                </span>
                <span style="font-weight:normal; font-size:16px;">
                  <%= @invoice.invoice_number %>
                </span>
              </div>
              <div style='display:flex; flex-direction:column'>
                <span style='margin-top:16px; font-weight:normal; font-size:12px;' >
                  Reference
                </span>
                <span style="font-weight:normal; font-size:16px;">
                  -
                </span>
              </div>
            </div>

            <div style='display:flex; flex-direction:column'>
              <span style='text-align:right; font-weight:normal; font-size:12px;' >
                Total Amount
              </span>
              <span style="font-weight:normal; font-size:40px; margin-top:24px">
                <%= @invoice.amount %>
              </span>
            </div>
          </div>
          <a href="<%= @invoice_url %>" target="_blank" style="font-weight:bold; font-size:16px; color:white; text-align:center; letter-spacing: 2px; display: flex;align-items:center; align-self:center; line-height: 22px; border-radius: 4px; border:none; margin-top:40px; padding-top:4px; padding-bottom:4px; padding-left:64px; padding-right:64px; text-decoration:none; background: #5B34EA;">
            VIEW INVOICE
          </a>
        </div>
      </div>

      <div style="font-family: 'Manrope'; padding:24px; display:flex; flex-direction:column; align-items:center; background:#F5F7F9;" >
          <span style='display:flex'>
            <span style="padding-top:16px; font-size:14px; font-weight:normal; color:#A5A3AD;">Powered by</span>
              <%= image_tag attachments['miruLogoWithText.svg'].url, height:'48px', width:'120px' %>
          </span>
          <span style="margin-top:20px; line-height:20px font-size:14px; font-weight:normal; color:#A5A3AD;">
            Invoice and accounting software for every business
          </span>
      </div>

      <div style="font-family: 'Manrope'; padding-left:40px; padding-right:40px; padding-top:12px; padding-bottom:12px; display:flex; justify-content:space-between; color:white; background:#5B34EA;" >
          <span style="font-size:12px; font-weight:normal; line-height: 16px; text-align: center;" >© Miru 2022. All rights reserved.</span>
          <span style="display:flex; justify-content:space-between; width:35%; font-size:12px; font-weight:normal; line-height: 16px; text-align: center;" >
            www.getmiru.com/
            <%= image_tag attachments['Instagram.svg'].url, height: '16px' ,width:'16px'%>
            <%= image_tag attachments['Twitter.svg'].url, height: '16px' ,width:'16px' %>
          </span>
      </div>
    </div>
  </body>
</html>
