<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      .mailer_container {
        padding: 40px;
        background:white;

      }

      .comapany_logo {
        display:flex;
        flex-direction:column;
        align-items:center;
        border-bottom: 2px solid #E1E6EC;
      }

      .logo_footer {
        margin-top: 24px;
        margin-bottom: 40px;
      }

      .summary_container {
        display:flex;
        flex-direction:column;
        color:#1D1A31
      }

      .summary_title {
        margin: 40px;
        text-align: center;
        font-weight:bold;
        font-size: 24px;
        line-height:28px;
      }

      .details_title {
        font-weight:normal;
        font-size:12px;
      }

      .details_value {
        font-weight:normal;
        font-size:16px;
      }

      .amount {
        font-weight:normal;
        font-size:40px;
        margin-top:24px
      }

      .view_invoice {
        font-weight:bold;
        font-size:16px;
        color:white;
        text-align:center;
        letter-spacing: 2px;
        display: flex;
        align-items:center;
        align-self:center;
        line-height: 22px;
        background: #5B34EA;
        border-radius: 4px;
        border:none;
        margin-top:40px;
        padding-top:4px;
        padding-bottom:4px;
        padding-left:64px;
        padding-right:64px;
        text-decoration:none
      }

      .footer {
        font-family: 'Manrope';
        padding-left:40px;
        padding-right:40px;
        padding-top:12px;
        padding-bottom:12px;
        display:flex;
        justify-content:space-between;
        background:#5B34EA;
        color:white
      }

      .poweredby_conatiner {
        font-family: 'Manrope';
        padding:24px;
        background:#F5F7F9;
        display:flex;
        flex-direction:column;
        align-items:center;
      }

      .poweredby_label {
        color:#A5A3AD;
        font-size:14px;
        font-weight:normal;
      }

      .copyright_label {
        font-size:12px;
        font-weight:normal;
        line-height: 16px;
        text-align: center;
      }

    </style>
  </head>
  <body style="display:flex; justify-content:center">
    <div style="width: 640px; height: 702px;" >
      <div class="mailer_container">
        <div class="comapany_logo">
          <%= image_tag "saeloun_logo.png", height: 80 ,width: 80 %>
          <span class="logo_footer">
            <span style='font-weight:bold'>Saeloun Inc. </span>
            has sent you an invoice.
          </span>
        </div>
        <div class="summary_container">
          <span class="summary_title">
            Invoice Summary
          </span>
          <div style='display:flex; justify-content:space-between'>
            <div>
              <div>
                <span style='display:flex' class="details_title">
                  Date of Issue
                </span>
                <span class="details_value"> <%= @invoice.issue_date %> </span>
              </div>
              <div>
                <span style='display:flex; margin-top:16px' class="details_title">
                  Due Date
                </span>
                <span class="details_value"> <%= @invoice.due_date %> </span>
              </div>
            </div>
            <div>
              <div style='display:flex; flex-direction:column'>
                <span class="details_title">
                  Invoice Number
                </span>
                <span class="details_value">
                  <%= @invoice.invoice_number %>
                </span>
              </div>
              <div style='display:flex; flex-direction:column'>
                <span style='margin-top:16px' class="details_title">
                  Reference
                </span>
                <span class="details_value">
                  -
                </span>
              </div>
            </div>

            <div style='display:flex; flex-direction:column'>
              <span style='text-align:right' class="details_title">
                Total Amount
              </span>
              <span class="amount">
                <%= @invoice.amount %>
              </span>
            </div>
          </div>
          <a href="{@invoice_url}" class="view_invoice">
            VIEW INVOICE
          </a>
        </div>
      </div>

      <div class="poweredby_conatiner">
          <span style='display:flex'>
            <span style='padding-top:16px' class="poweredby_label">Powered by</span>
            <%= image_tag "miruLogoWithText.svg", height:'48px', width:'120px' %>
          </span>
          <span style="margin-top:20px; line-height:20px" class="poweredby_label">
            Invoice and accounting software for every business
          </span>
      </div>

      <div class="footer">
          <span class="copyright_label">© Miru 2022. All rights reserved.</span>
          <span style="display:flex; justify-content:space-between; width:35%" class="copyright_label">
            www.getmiru.com/
            <%= image_tag "Instagram.svg", height: '16px' ,width:'16px' %>
            <%= image_tag "Twitter.svg", height: '16px' ,width:'16px' %>
          </span>
      </div>
    </div>
  </body>
</html>
