<div class="bg-miru-dark-purple-1000 h-screen font-manrope">
  <div class="min-h-full flex items-center justify-center py-8 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-16 w-auto" src="/miru-logo.svg" alt="miru login page">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-miru-white-1000 py-6 px-6 shadow sm:rounded-lg sm:px-10">
            <div class="space-y-3">
              <h2 class="form__title">
                <%= t('registration.sign_up').titlecase %>
              </h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div>
                  <div class="field">
                    <div class="field_with_errors">
                      <label class="form__label"> <%= t('registration.name').capitalize %></label>
                      <% if f.object.errors.include?(:first_name) %>
                        <div class="form__error">
                          <%= error_message_on(f.object, :first_name) %>
                        </div>
                      <% else %>
                        <div class="form__error">
                          <%= error_message_on(f.object, :last_name) %>
                        </div>
                      <% end %>
                    </div>
                    <div class="mt-1 flex -space-x-px">
                      <div class="mr-4 w-1/2 flex-1 min-w-0">
                        <%= f.text_field :first_name, placeholder: t('registration.first_name').titlecase , autofocus: true, class: "form__input #{error_message_class(f.object, :first_name)}" %>
                      </div>
                      <div class="w-1/2 flex-1 min-w-0">
                        <%= f.text_field :last_name, placeholder: t('registration.last_name').titlecase, autofocus: true, class: "form__input #{error_message_class(f.object, :last_name)}" %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-4">
                  <div class="field">
                    <div class="field_with_errors">
                      <%= f.label t('registration.email_id').capitalize, class: "form__label" %>
                      <div class="form__error">
                        <%= error_message_on(f.object, :email) %>
                      </div>
                    </div>
                    <div class="mt-1">
                        <%= f.text_field :email, placeholder: t('registration.email_id').capitalize, autofocus: true, class: "form__input #{error_message_class(f.object, :email)}" %>
                    </div>
                  </div>
                </div>
                <div class="mt-4">
                  <div class="field" x-data="{ show: true }">
                    <div class="field_with_errors">
                      <%= f.label t('registration.password').capitalize, class: "form__label" %>
                      <div class="miru_form_error">
                        <%= error_message_on(f.object, :password) %>
                      </div>
                    </div>
                    <div class="mt-1 relative">
                      <input name="user[password]" placeholder="<%= t('registration.password').capitalize %>" id="user_password" :type="show ? 'password' : 'text'" class="form__input <%= error_message_class(f.object, :password) %>" >
                      <div class="password_eye__position">
                        <img src="<%= image_url 'password_icon.svg' %>" @click="show = !show" :class="{'hidden': !show, 'block':show }" class="password_eye__icon">
                        <img src="<%= image_url 'password_icon_text.svg' %>" @click="show = !show" :class="{'block': !show, 'hidden':show }" class="password_eye__icon">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-4">
                  <div class="field" x-data="{ show: true }">
                    <div class="field_with_errors">
                      <span class="form__label"><%= t('registration.confirm_password').titlecase %></span>
                      <div class="form__error">
                        <%= error_message_on(f.object, :password_confirmation) %>
                      </div>
                    </div>
                    <div class="mt-1 relative">
                      <input name="user[password_confirmation]" placeholder="<%= t('registration.confirm_password').titlecase %>" id="user_password_confirmation" :type="show ? 'password' : 'text'" class="form__input <%= error_message_class(f.object, :password_confirmation) %>">
                      <div class="password_eye__position">
                        <img src="<%= image_url 'password_icon.svg' %>" @click="show = !show" :class="{'hidden': !show, 'block':show }" class="password_eye__icon">
                        <img src="<%= image_url 'password_icon_text.svg' %>" @click="show = !show" :class="{'block': !show, 'hidden':show }" class="password_eye__icon">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="actions mt-4">
                  <%= f.submit t('registration.sign_up').upcase, class: "form__button", data: { cy: "sign-up-button"}%>
                </div>
              <% end %>
              <div class="my-2">
                <div class="relative flex justify-center">
                  <span class="px-2 form__label">
                    <%= t('registration.or').upcase %>
                  </span>
                </div>
              </div>
              <div>
                <div class="mt-4">
                  <%= button_to user_google_oauth2_omniauth_authorize_path, class: "form__button",  data: { cy: "sign-up-with-google-button"} do %>
                    <img src="<%= image_url 'google.svg' %>" class="-ml-0.5 mr-2 h-4 w-4">
                    <%= t('registration.signup_with_google').upcase%>
                  <% end %>
                </div>
              </div>
              <div>
                <div class="mt-4">
                  <button type="button" class="form__button" data-cy="sign-up-with-apple-button">
                    <img src="<%= image_url 'apple.svg' %>" class="-ml-0.5 mr-2 h-4 w-4">
                    <%= t('registration.signup_with_apple').upcase %>
                  </button>
                </div>
              </div>
              <div>
                <%= render "devise/shared/links"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
