<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body style="color:#1D1A31">
  <p>Hi <%= @name %>, </p>

  <p>This is a reminder email to update your weekly timesheet for <%= @company %> in Miru. </p>

  <p>Your logged hours for the week <%= @starting_date %> to <%= @ending_date %> is less than 40 hours.
  Please click <%= link_to "here", time_tracking_index_url, target: "_blank" %> to update your timesheet. </p>

  <p>Cheers </p>

  <p>Miru Team</p>
  </body>
</html>
