<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">
      .desktop-invoice {
        width: 640px;
        height: 702px;
        margin: 0 auto;
      }
      .mobile-invoice {
        width: 360px;
        margin: 0 auto;
        display: none;
      }
      @media only screen and (max-width: 640px) {
        .desktop-invoice {
          display: none;
        }

        .mobile-invoice {
          display: block;
        }
      }
    </style>
  </head>
  <body style="color:#1D1A31">
    <div class="desktop-invoice">
      <div id="header" style="padding:0 40px;">
        <div
          style="padding: 30px 40px; background:white ;border-bottom: 2px solid #E1E6EC; text-align: center"
        >
          <div style="padding: 10px; display: inline-block; text-align: center;">
            <% if @company_logo.present? %>
                <%= image_tag @company_logo, height: 80, width: 80, style: "border-radius: 80px" %>
            <% else %>
              <div style="margin:auto;width:80px;height:80px;border-radius: 80px;text-align: center;background: #CDD6DF;font-size: 40px; color:white; display: table;"><div style="display:table-cell; vertical-align: middle;"><%= @invoice.company.name.slice(0) %></div>
            <% end %>
          </div>
          <div>
            <span><%= @message %></span>
          </div>
        </div>
      </div>
      <div id="body" style="color:#1D1A31">
        <div
          style="margin: 40px; text-align: center; font-weight:bold; font-size: 24px; line-height:28px;"
        >
          Invoice Summary
        </div>
        <table style="width: 100%; margin: 40px ; border-collapse: separate;border-spacing: 0 15px; ">
          <colgroup>
            <col width="40%">
            <col width="40%">
            <col width="20">
          </colgroup>
          <tr style="width: 100%" valign="top">
            <td>
              <div style=' font-weight:normal; font-size:12px;'>Date of Issue</div>
              <div style="font-weight:normal; font-size:16px;"><%= @invoice.issue_date.ordinalize %>
              </div>
            </td>
            <td>
              <div style=' font-weight:normal; font-size:12px;'>Invoice Number</div>
              <div style="font-weight:normal; font-size:16px;"><%= @invoice.invoice_number %></div>
            </td>
            <td align="left">
              <div style=' font-weight:normal; font-size:12px;'>Total</div>
              <div style="font-weight:normal; font-size:12px;">Amount</div>
            </td>
          </tr>
          <tr style="width: 100%; margin-top: 15px">
            <td style="">
              <div style=' font-weight:normal; font-size:12px;'>Due Date</div>
              <div style="font-weight:normal; font-size:16px;"><%= @invoice.due_date.ordinalize %></div>
            </td>
            <td>
              <div style=' font-weight:normal; font-size:12px;'>Reference</div>
              <div style="font-weight:normal; font-size:16px;"><%= @invoice.reference.blank? ? "-" : @invoice.reference %></div>
            </td>
            <td align="right">
              <div style="font-weight:normal; font-size:24px; margin-right: 40px;"><%= @amount %></div>
            </td>
          </tr>
        </table>
        <div style="text-align: center">
          <%= link_to "VIEW INVOICE", @invoice_url,
          target: "_blank",
          style: "cursor:pointer; font-weight:bold; font-size:16px; color:white;letter-spacing: 2px;align-items:center; align-self:center; line-height: 22px; border-radius: 4px; border:none; margin:40px 0; padding:8px 64px;text-decoration:none; background: #5B34EA; display: inline-block;"
        %>
        </div>
      </div>
      <%= render "shared/email_footer" %>
    </div>

    <div class="mobile-invoice">
      <div id="mobile-header" style="padding:0 16px;">
        <div
          style="padding: 40px 0px; background:white ;border-bottom: 2px solid #E1E6EC; text-align: center"
        >
          <div style="padding: 10px; display: inline-block; text-align: center">
            <%= image_tag @company_logo, height: 80 ,width: 80 %>
          </div>
          <p  style="font-family: 'Manrope';font-style: normal;font-size: 16px;line-height: 22px;text-align: center;color: #1D1A31; margin: 0px; padding: 0px">
            <span style='font-weight:bold' id="company_name"><%= @invoice.company.name %></span>
            has sent you an invoice.
          </p>
        </div>
      </div>
      <p style="text-align: center; font-family: 'Manrope'; font-weight:700; font-size: 24px; line-height:33px; color: #1D1A31;text-transform: capitalize; margin: 40px auto; padding: 0;">
        Invoice Summary
      </p>
      <div style="font-family: 'Manrope';font-weight: 400; font-size: 12px;line-height: 16px; text-align: center; color: #1D1A31; margin: 40px auto;">
        <div>
          <p style="font-family: 'Manrope'; margin: 0px; padding: 0px;">Date of Issue</p>
          <p style="font-family: 'Manrope'; font-size: 16px; font-style: normal; font-weight: 400; line-height: 22px; color: #1D1A31; margin: 0px; padding: 4px 0px 16px 0px;"><%= @invoice.issue_date.ordinalize %></p>
        </div>
        <div>
          <p style="font-family: 'Manrope'; margin: 0px; padding: 0px;">Due Date</p>
          <p style="font-size: 16px; font-style: normal; font-weight: 400; line-height: 22px; color: #1D1A31; margin: 0px; padding: 4px 0px 16px 0px;"><%= @invoice.due_date.ordinalize %></p>
        </div>
        <div>
          <p style="font-family: 'Manrope'; margin: 0px; padding: 0px;">Invoice Number</p>
          <p style="font-family: 'Manrope' font-style: normal; font-size: 16px; font-style: normal; font-weight: 400; line-height: 22px; color: #1D1A31; margin: 0px; padding: 4px 0px 16px 0px;"><%= @invoice.invoice_number %></p>
        </div>
        <div>
          <p style="font-family: 'Manrope'; margin: 0px; padding: 0px;">Reference</p>
          <p style="font-family: 'Manrope' font-style: normal; font-size: 16px; font-style: normal; font-weight: 400; line-height: 22px; color: #1D1A31; margin: 0px; padding: 4px 0px 16px 0px;"><%= @invoice.reference.blank? ? "-" : @invoice.reference %></p>
        </div>
        <div>
          <p style="font-family: 'Manrope';margin: 0px; padding: 0px;">Total Amount</p>
          <p style="font-family: 'Manrope'; font-style: normal;font-weight:normal; font-size:40px; margin: 0px; margin-top:12px"><%= @amount %></p>
        </div>
      </div>
      <div style="text-align: center">
        <%= link_to "View Invoice", @invoice_url,
          target: "_blank",
          style: "cursor:pointer;font-family: 'Manrope'; font-style: none; font-weight:700; font-size:16px; text-transform: capitalize;color:white;align-items:center; align-self:center; line-height: 22px; border-radius: 4px; border:none; margin-bottom:40px; padding:8px 64px;text-decoration:none; background: #5B34EA; display: inline-block; min-width: 50%;"
        %>
      </div>
      <%= render "shared/email_footer" %>
    </div>
  </body>
</html>
