<%= form_with model: client, scope: :client, url: clients_path, method: :post do |f| %>
  <div class="mt-4">
    <div class="field">
      <div class="field_with_errors">
        <%= f.label t('clients.new.name'), class: "tracking-wider block text-xs font-semibold text-miru-dark-purple-1000" %>
        <div class="tracking-wider block text-xs text-red-600">
          <%= error_message_on(f.object, :name) %>
        </div>
      </div>
      <div class="mt-1">
        <%= f.text_field :name, autofocus: true, class: "rounded tracking-wider border block w-full px-3 py-2 bg-miru-gray-100 shadow-sm text-xs text-miru-dark-purple-1000 focus:outline-none #{error_message_class(f.object, :name)}" %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="field">
      <div class="field_with_errors">
        <%= f.label t('clients.new.email'), class: "tracking-wider block text-xs font-semibold text-miru-dark-purple-1000" %>
        <div class="tracking-wider block text-xs text-red-600">
          <%= error_message_on(f.object, :email) %>
        </div>
      </div>
      <div class="mt-1">
        <%= f.text_field :email, class: "rounded tracking-wider border block w-full px-3 py-2 bg-miru-gray-100 shadow-sm text-xs text-miru-dark-purple-1000 focus:outline-none #{error_message_class(f.object, :email)}" %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="field">
      <div class="field_with_errors">
        <%= f.label t('clients.new.phone'), class: "tracking-wider block text-xs font-semibold text-miru-dark-purple-1000" %>
        <div class="tracking-wider block text-xs text-red-600">
          <%= error_message_on(f.object, :phone) %>
        </div>
      </div>
      <div class="mt-1">
        <%= f.text_field :phone, class: "rounded tracking-wider border block w-full px-3 py-2 bg-miru-gray-100 shadow-sm text-xs text-miru-dark-purple-1000 focus:outline-none #{error_message_class(f.object, :phone)}" %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="field">
      <div class="field_with_errors">
        <%= f.label t('clients.new.address'), class: "tracking-wider block text-xs font-semibold text-miru-dark-purple-1000" %>
        <div class="tracking-wider block text-xs text-red-600">
          <%= error_message_on(f.object, :address) %>
        </div>
      </div>
      <div class="mt-1">
        <%= f.text_area :address, class: "rounded tracking-wider border block w-full px-3 py-2 bg-miru-gray-100 shadow-sm text-xs text-miru-dark-purple-1000 focus:outline-none #{error_message_class(f.object, :address)}" %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="field">
      <div class="field_with_errors">
        <%= f.label t('clients.new.country'), class: "tracking-wider block text-xs font-semibold text-miru-dark-purple-1000" %>
        <div class="tracking-wider block text-xs text-red-600">
          <%= error_message_on(f.object, :country) %>
        </div>
      </div>
      <div class="mt-1">
        <%= f.select :country, [[ "Please select", "", { selected: true, disabled: true }]] + ISO3166::Country.pluck(:alpha2, :name).collect { |c| [ c.second, c.first ] }, {}, { class: "rounded tracking-wider border block w-full px-3 py-2 bg-miru-gray-100 shadow-sm text-xs text-miru-dark-purple-1000 focus:outline-none #{error_message_class(f.object, :country)}" } %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="field">
      <div class="field_with_errors">
        <%= f.label t('clients.new.timezone'), class: "tracking-wider block text-xs font-semibold text-miru-dark-purple-1000" %>
        <div class="tracking-wider block text-xs text-red-600">
          <%= error_message_on(f.object, :timezone) %>
        </div>
      </div>
      <div class="mt-1">
        <%= f.select :timezone, [[ "Please select", "", { selected: true, disabled: true }]] + TZInfo::Timezone.all_country_zones.collect { |t| [ t.to_s ] }, {}, { class: "rounded tracking-wider border block w-full px-3 py-2 bg-miru-gray-100 shadow-sm text-xs text-miru-dark-purple-1000 focus:outline-none #{error_message_class(f.object, :timezone)}" } %>
      </div>
    </div>
  </div>

  <div class="actions mt-4">
    <%= f.submit t('clients.new.add_client'), class: "tracking-widest h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-base font-sans font-medium text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded cursor-pointer"%>
  </div>

<% end %>
