<%= form_with model: lead, scope: :lead, url: leads_path, method: :post do |f| %>
  <div class="mt-4">
    <div class="field">
      <div class="field_with_errors">
        <%= f.label t('lead.name.label'), class: "form__label" %>
        <div class="tracking-wider block text-xs text-red-600">
          <%= error_message_on(f.object, :name) %>
        </div>
      </div>
      <div class="mt-1">
        <%= f.text_field :name, placeholder: t('lead.name.placeholder'), autofocus: true, class: "form__input #{error_message_class(f.object, :name)}" %>
      </div>
    </div>
  </div>

  # <div class="mt-4">
  #   <div class="field">
  #     <div class="field_with_errors">
  #       <%= f.label t('lead.address.label'), class: "form__label" %>
  #       <div class="tracking-wider block text-xs text-red-600">
  #         <%= error_message_on(f.object, :address) %>
  #       </div>
  #     </div>
  #     <div class="mt-1">
  #       <%= f.text_area :address, placeholder: t('lead.address.placeholder'), autofocus: true, class: "form__input #{error_message_class(f.object, :address)}" %>
  #     </div>
  #   </div>
  # </div>

  <div class="actions mt-4">
    <%= f.submit t('lead.add'), class: "form__input_submit"%>
  </div>

<% end %>
