<div class="navbar__screen-height" x-data="{ isOpen: false}">

  <!-- navbar for smaller screen less than 1024px start-->
  <nav class="navbar__smaller-screen" :class="{'translate-x-0 ease-in opacity-100':isOpen === true, '-translate-x-full ease-out opacity-0': isOpen === false}" >

    <!-- miru logo for smaller screen size Start -->
    <div class="flex justify-between" x-show="isOpen" @click.away="isOpen = false">
      <a href="<%= root_path %>">
        <span class="text-col-red-400 font-bold text-2xl">A<span class="text-col-black-1000 font-bold text-2xl">∝C</span></span>
      </a>
      <button class="navbar__smaller-screen_close-button" @click="isOpen = false">
        <%= image_tag("cancel_button.svg", class:"block h-6 w-6") %>
      </button>
    </div>
    <!-- miru logo for smaller screen size end -->

    <% if current_company %>
      <!-- dashboard time_tracking team clients projects invoices report etc. Start -->
      <div class="border-t border-gray-200 pt-4 pb-3 pl-3">
        <%= nav_helper(style: 'navbar__smaller-screen_titles', active_style: "navbar__smaller-screen_selected", inactive_style: "navbar__smaller-screen_unselected") %>
      </div>
      <!-- dashboard time_tracking team clients projects invoice report etc. end -->
    <% end %>

    <!-- profile menu for smaller screen start-->
    <div class="navbar__smaller-screen_profile-menu">

      <!-- profile deatails start -->
      <div class="px-4 flex items-center">
        <div class="navbar__smaller-screen_user-details" role="menuitem" tabindex="-1" id="menu-item-0">
          <%= image_tag user_avatar(current_user), class: "mr-2 h-12 w-12 rounded-full"  %>
          <div class="pl-1 pr-2 py-5" role="none">
            <p class="navbar__smaller-screen_name" role="none">
              <%= current_user.full_name %>
            </p>
            <p class="navbar__smaller-screen_email" role="none">
              <%= current_user.email %>
            </p>
          </div>
        </div>

        <!-- notification icons start -->
        <button type="button" class="navbar__smaller-screen_notification">
          <span class="sr-only">View notifications</span>
          <%= image_tag("notification.svg", class:"h-6 w-6") %>
        </button>
        <!-- notification icons end -->

      </div>
      <!-- profile deatails end -->

      <div class="mt-3 px-4 space-y-1">
        <%= button_to profile_path, method: :get, class: "navbar__smaller-screen_profile_logout", id:"menu-item-0", role:"menuitem", tabindex:"-1" do %>
          <%= image_tag 'setting_icon.svg', class:"mr-3 h-5 w-5" %>
          <%= t('navbar.settings') %>
        <% end %>
        <%= button_to destroy_user_session_path, method: :delete, class: "navbar__smaller-screen_profile_logout", id:"menu-item-0", role:"menuitem", tabindex:"-1" do %>
          <%= image_tag 'logout_icon.svg', class:"mr-3 h-5 w-5" %>
          <%= t('navbar.logout') %>
        <% end %>
      </div>
    </div>
    <!-- profile menu for smaller screen end-->
  </nav>
  <!-- navbar for smaller screen less than 1024px end-->

  <!-- navbar start -->
  <nav class="relative z-0 lg:flex-grow" >

    <!-- navbar for larger screen greater than 1024px start-->
    <div class="bg-white shadow">
      <div class="max-w-8xl mx-auto lg:divide-y lg:divide-gray-200 md:px-10 sm:px-6 px-3">
        <div class="relative h-16 flex justify-between">

          <!-- miru logo start -->
          <div class="relative z-10 flex">
            <div class="flex-shrink-0 flex items-center">
              <a href="<%= root_path %>">
                <span class="text-col-red-400 font-bold text-2xl">A<span class="text-col-black-1000 font-bold text-2xl">∝C</span></span>
              </a>
            </div>
          </div>
          <!-- miru logo end -->
          <% if current_company %>
            <!-- title smaller screen size -->
            <div class="relative z-0 flex-1 flex items-center justify-center xsm:absolute xsm:inset-0">
              <div class="block lg:hidden">
                <%= nav_helper(style: 'navbar__small-screen-second_titles') %>
              </div>
            </div>
            <!-- title smaller screen end -->

            <!-- dashboard time_tracking team clients projects invoices report etc. start -->
            <div class="relative z-0 flex-auto flex items-center justify-start sm:absolute sm:inset-0">
              <div class="ml-36 hidden lg:block lg:flex lg:space-x-10 xl:pr-80">
                <%= nav_helper(style: "navbar__large-screen_title", active_style: "navbar__large-screen_selected", inactive_style: "navbar__large-screen_unselected") %>
              </div>
            </div>
            <!-- dashboard time_tracking team clients projects invoices report etc. end -->
          <% end %>

          <!-- hamburger icons start -->
          <div class="relative z-10 flex items-center lg:hidden">
            <!-- Mobile menu button -->
            <button type="button" class="navbar__hamburger" @click="isOpen = !isOpen" @keydown.escape="isOpen = false" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open menu</span>
              <%= image_tag("mobile-menu.svg", class:"block h-6 w-6") %>
            </button>
          </div>
          <!-- hamburger icons end -->

            <!-- switch workspace, notification and profile icons start -->
            <div class="hidden lg:relative lg:z-10 lg:ml-4 lg:flex lg:items-center"><div class="cursor-pointer" x-data="{ isOpen: false}">
              <div class="flex p-1" @click="isOpen = !isOpen">
                <p class: "mr-1 h-6 w-6 rounded-md">Others</p>
                <p class="py-1.5 px-1">
                  <img src="<%= image_url 'down_arrow.svg' %>" class="mr-3 h-3 w-3" alt="down_arrow" />
                </p>
              </div>

              <div x-show="isOpen" @click.away="isOpen = false">
                <div class="flex flex-col absolute right-0 mt-2 w-64 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                  <%= other_nav_helper %>
                </div>
              </div>
            </div>

              <% if current_company %>
                <!-- switch workspace dropdown start -->
                <div class="cursor-pointer" x-data="{ isOpen: false}">
                  <div class="flex p-1" @click="isOpen = !isOpen">
                    <%= image_tag company_logo(current_company), alt: "company_logo", class: "mr-1 h-6 w-6 rounded-md" %>

                    <p class="py-1.5 px-1">
                      <img src="<%= image_url 'down_arrow.svg' %>" class="mr-3 h-3 w-3" alt="down_arrow" />
                    </p>
                  </div>

                  <div x-show="isOpen" @click.away="isOpen = false">
                    <div class="flex flex-col absolute right-0 mt-2 w-64 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                      <% current_user.companies.includes(:logo_attachment).each do |company| %>
                        <div class="<%= current_user.current_workspace == company ? 'bg-miru-gray-100' : '' %> items-center px-4 py-4 hover:bg-miru-gray-100 text-miru-dark-purple-1000 cursor-pointer rounded-sm" role="menuitem" tabindex="-1" id="menu-item-0">
                          <%= link_to workspace_path(company), method: :patch, class: "flex" do %>
                            <%= image_tag company_logo(company), alt: "company_logo", class: "mr-3 h-5 w-5 mt-1" %>
                            <p class="font-manrope <%= current_user.current_workspace == company ? 'font-medium' : 'font-extrabold' %>">
                              <%= company.name.capitalize %>
                            </p>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- switch workspace dropdown end -->
              <% end %>

            <!-- notification button start -->
            <button type="button" class="navbar__large-screen_notification">
              <span class="sr-only">View notifications</span>
              <%= image_tag("notification.svg", class:"h-6 w-6") %>
            </button>
            <!-- notification button end -->

            <!-- profile dropdown start -->
            <div class="ml-3 relative" x-data="{ isOpen: false}">

              <div class="navbar__user-profile">
                <button type="button" class="navbar__user-menu" id="user-menu-button" aria-expanded="false" aria-haspopup="true" @click="isOpen = !isOpen" @keydown.escape="isOpen = false">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 p-1 rounded-full" src="/avatar.svg" alt="profile">
                </button>
              </div>

              <!-- profile menu for large screen start-->
              <div x-show="isOpen" @click.away="isOpen = false">
                <div class="navbar__open-profile-menu" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">

                  <div class="navbar__profile-menu_avatar" role="menuitem" tabindex="-1" id="menu-item-0">
                    <div class="w-12 mr-4">
                      <%= image_tag user_avatar(current_user), class: "h-12 w-12 rounded-full"  %>
                    </div>
                    <div class="pl-1 pr-2 py-5" role="none">
                      <p class="navbar__profile-menu_name" role="none">
                        <%= current_user.full_name %>
                      </p>
                      <p class="navbar__profile-menu_email" role="none">
                        <%= current_user.email %>
                      </p>
                    </div>
                  </div>

                  <%= button_to profile_edit_path, method: :get, class: "navbar__profile-menu_settings", id:"menu-item-0", role:"menuitem", tabindex:"-1" do %>
                    <%= image_tag 'setting_icon.svg', class:"mr-3 h-5 w-5" %>
                    <%= t('navbar.settings') %>
                  <% end %>
                  <%= link_to 'mailto:support@miru.com', method: :get, class: "navbar__profile-menu_settings", id:"menu-item-0", role:"menuitem", tabindex:"-1" do %>
                    <%= image_tag 'help_icon.png', class:"mr-3 h-5 w-5" %>
                    <%= t('navbar.help') %>
                  <% end %>
                  <%= button_to destroy_user_session_path, method: :delete, class: "navbar__profile-menu_logout", id:"menu-item-0", role:"menuitem", tabindex:"-1" do %>
                    <%= image_tag 'logout_icon.svg', class:"mr-3 h-5 w-5" %>
                    <%= t('navbar.logout') %>
                  <% end %>
                </div>
              </div>
              <!-- profile menu for large screen end-->

            </div>
            <!-- profile dropdown end -->

          </div>
          <!-- notification and profile icons end -->

        </div>
      </div>
    </div>
    <!-- navbar for larger screen greater than 1024px end -->
  </nav>
  <!-- navbar end -->

</div>
