<nav class="bg-white shadow" x-data="{ isOpen: false}">
  <div class="max-w-8xl mx-auto px-2 md:px-11">
    <div class="relative flex justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
        <!-- Mobile menu button -->
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false" @click="isOpen = !isOpen" @keydown.escape="isOpen = false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <div>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
              Icon when menu is open.

              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center md:items-stretch md:justify-start">
        <!-- Logo -->
        <div class="flex-shrink-0 flex items-center">
          <a href="/" class="font-semibold text-xl tracking-tight">
            <img class="block lg:hidden h-8 w-auto md:mr-12" src="/miru-logo.svg" alt="miru web">
            <img class="hidden lg:block h-8 w-auto lg:mr-32" src="/miru-logo.svg" alt="miru web">
          </a>
        </div>
        <div class="hidden md:mx-3 md:flex md:space-x-2 lg:space-x-8">
          <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <% if (current_user.admin? || current_user.owner?) %>
            <a href="/dashboard" class="<%= request.path == "/dashboard" ? "text-miru-han-purple-1000" : "border-transparent text-gray-500 hover:text-gray-700" %> inline-flex items-center px-1 pt-1 text-sm font-medium">
              Dashboard
            </a>
          <% end %>
          <a href="/time-tracking" class="<%= request.path == "/time-tracking" ? "text-miru-han-purple-1000" : "border-transparent text-gray-500 hover:text-gray-700" %> inline-flex items-center px-1 pt-1 text-sm font-medium">
            Time Tracking
          </a>
          <% if (current_user.admin? || current_user.owner?) %>
            <a href="/team" class="<%= request.path == "/team" ? "text-miru-han-purple-1000" : "border-transparent text-gray-500 hover:text-gray-700" %> inline-flex items-center px-1 pt-1 text-sm font-medium">
              Team
            </a>
          <% end %>
          <a href="/clients" class="<%= request.path == "/clients" ? "text-miru-han-purple-1000" : "border-transparent text-gray-500 hover:text-gray-700" %> inline-flex items-center px-1 pt-1 text-sm font-medium">
            Clients
          </a>
          <a href="/projects" class="<%= request.path == "/project" ? "text-miru-han-purple-1000" : "border-transparent text-gray-500 hover:text-gray-700" %> inline-flex items-center px-1 pt-1 text-sm font-medium">
            Projects
          </a>
          <% if (current_user.admin? || current_user.owner?) %>
            <a href="/invoice" class="<%= request.path == "/invoice" ? "text-miru-han-purple-1000" : "border-transparent text-gray-500 hover:text-gray-700" %> inline-flex items-center px-1 pt-1 text-sm font-medium">
              Invoice
            </a>
          <% end %>
          <% if (current_user.admin? || current_user.owner?) %>
            <a href="/report" class="<%= request.path == "/report" ? "text-miru-han-purple-1000" : "border-transparent text-gray-500 hover:text-gray-700" %> inline-flex items-center px-1 pt-1 text-sm font-medium">
              Report
            </a>
          <% end %>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0">
        <button type="button" class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="sr-only">View notifications</span>
          <!-- Heroicon name: outline/bell -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </button>
        <!-- Profile dropdown -->
        <div class="ml-3 relative" x-data="{ isOpen: false}">
          <div>
            <button type="button" class="bg-white rounded-full flex text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="user-menu-button" aria-expanded="false" aria-haspopup="true" @click="isOpen = !isOpen" @keydown.escape="isOpen = false">
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="/avtar.svg" alt="profile">
            </button>
          </div>
          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-200"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div x-show="isOpen" @click.away="isOpen = false">
            <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <!-- Active: "bg-gray-100", Not Active: "" -->
              <a href="/profile" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
              <a href="/settings" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
              <%= button_to "logout", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", role: "menuitem", tabindex: "-1", id: "user-menu-item-2"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="flex">
    <div class="md:hidden">
      <div class="pt-2 pb-4 space-y-1" x-show="isOpen" @click.away="isOpen = false">
        <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
        <% if (current_user.admin? || current_user.owner?) %>
          <a href="/dashboard" class="<%= request.path == "/dashboard" ? "bg-indigo-50 border-indigo-500 text-indigo-700" : "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" %> block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Dashboard</a>
        <% end %>
        <a href="/time-tracking" class="<%= request.path == "/time-tracking" ? "bg-indigo-50 border-indigo-500 text-indigo-700" : "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" %> block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Time Tracking</a>
        <% if (current_user.admin? || current_user.owner?) %>
          <a href="/team" class="<%= request.path == "/team" ? "bg-indigo-50 border-indigo-500 text-indigo-700" : "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" %> block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Team</a>
        <% end %>
        <a href="/clients" class="<%= request.path == "/clients" ? "bg-indigo-50 border-indigo-500 text-indigo-700" : "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" %> block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Clients</a>
        <a href="/projects" class="<%= request.path == "/projects" ? "bg-indigo-50 border-indigo-500 text-indigo-700" : "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" %> block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Projects</a>
        <% if (current_user.admin? || current_user.owner?) %>
          <a href="/invoice" class="<%= request.path == "/invoice" ? "bg-indigo-50 border-indigo-500 text-indigo-700" : "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" %> block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Invoice</a>
          <a href="/report" class="<%= request.path == "/report" ? "bg-indigo-50 border-indigo-500 text-indigo-700" : "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" %> block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Report</a>
        <% end %>
      </div>
    </div>
  </div>
</nav>
