<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">
      .desktop-invoice {
        width: 640px;
        height: 702px;
        margin: 0 auto;
      }
      .mobile-invoice {
        width: 360px;
        margin: 0 auto;
        display: none;
      }
      @media only screen and (max-width: 640px) {
        .desktop-invoice {
          display: none;
        }

        .mobile-invoice {
          display: block;
        }
      }
    </style>
  </head>
  <body style="color:#1D1A31">
    <div class="desktop-invoice">
      <div id="header" style="padding:0 40px;">
        <div
          style="padding: 30px 40px; background:white ;border-bottom: 2px solid #E1E6EC; text-align: center"
        >
          <div style="padding: 10px; display: inline-block; text-align: center;">
            <% if @company_logo.present? %>
                <%= image_tag @company_logo, height: 80, width: 80, style: "border-radius: 80px" %>
            <% else %>
              <div style="width:80px;height:80px;border-radius: 80px;text-align: center;background: #CDD6DF;font-size: 40px;justify-content:center;display: flex; align-items: center; color:white"><%= @invoice.company.name.slice(0) %></div>
            <% end %>
          </div>
        </div>
      </div>
      <div id="body" style="color:#1D1A31">
        <div
          style="margin: 40px; text-align: center; font-weight:bold; font-size: 24px; line-height:28px;"
        >
          Payment receipt
        </div>
        <div style="text-align: center">
          <span style="font-size:18px"><%= sanitize @message %></span>
        </div>
        <table style="width: 100%; margin: 40px ; border-collapse: separate;border-spacing: 0 15px; ">
          <colgroup>
            <col width="40%">
            <col width="40%">
            <col width="20">
          </colgroup>
          <tr style="width: 100%" valign="top">
            <td>
              <div style=' font-weight:normal; font-size:16px;'>Payment Method</div>
              <div style="font-weight:normal; font-size:18px;">
                <%= @invoice.payments.any?(&:present?) ? @invoice.payments.pluck(:transaction_type).to_sentence.upcase : "STRIPE" %>
              </div>
            </td>
            <td align="right">
              <div style=' font-weight:normal; font-size:16px;'>Amount</div>
              <div style="font-weight:normal; font-size:16px; margin-left:24px">Paid</div>
            </td>
          </tr>
          <tr style="width: 100%; margin-top: 15px">
            <td>
              <div style=' font-weight:normal; font-size:16px;'>Issued To</div>
              <div style="font-weight:normal; font-size:20px;"><%= @invoice.client.name %></div>
            </td>
            <td align="right">
              <div style=' font-weight:normal; font-size:16px;'>Amount</div>
              <div style="font-weight:normal; font-size:28px;"><%= @amount %></div>
            </td>
          </tr>
        </table>
        <div style="text-align: center">
          <%= link_to "VIEW INVOICE", @invoice_url,
          target: "_blank",
          style: "cursor:pointer; font-weight:bold; font-size:16px; color:white;letter-spacing: 2px;align-items:center; align-self:center; line-height: 22px; border-radius: 4px; border:none; margin:40px 0; padding:8px 64px;text-decoration:none; background: #5B34EA; display: inline-block;"
          %>
        </div>
      </div>
      <div id="footer">
        <div
          style="font-family: 'Manrope'; padding:24px; align-items:center; background:#F5F7F9; text-align:center;"
        >
          <table style=" width:80%; margin: 0 auto; padding-top:16px;">
            <tr>
              <td
                align="right"
                style="font-size:14px; font-weight:normal; color:#A5A3AD; display: inline-block;"
              >Powered by</td>
              <td align="left" style="vertical-align: middle; display: inline-block;">
                <%= image_tag attachments['miruLogoWithText.png'].url, height:'48px', width:'120px' %>
              </td>
            </tr>
          </table>
          <div>
            Time tracking and Invoicing Software for every business
          </div>
        </div>
        <div
          style="font-family: 'Manrope'; padding-left:40px; padding-right:40px; padding-top:12px; padding-bottom:12px;  justify-content:space-between; color:white; background:#5B34EA;"
        >
          <span
            style="font-size:12px; font-weight:normal; line-height: 16px; text-align: center;"
          >© Miru. All rights reserved.</span>
          <span
            style=" font-size:12px; font-weight:normal; line-height: 16px; text-align: center; float:right; color: white"
          >
            <a
              href="https://www.instagram.com/getmiru/"
              target="_blank"
            >
              <%= image_tag attachments['Instagram.png'].url, height: '16px' ,width:'16px', style: 'padding-left: 10px' %>
            </a>
            <a
              href="https://x.com/getmiru"
              target="_blank"
            >
              <%= image_tag attachments['Twitter.png'].url, height: '16px' ,width:'16px', style: 'padding-left: 10px' %>
            </a>
          </span>
          <span
            style="padding-left: 10px; font-size:12px; font-weight:normal; line-height: 16px; text-align: center; float:right"
          >
            <a
              href="https://miru.so"
              target="_blank"
              style="color:#FFFFFF; vertical-align: middle; margin-bottom: 3px"
            >
              miru.so/
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="mobile-invoice">
      <div id="mobile-header" style="padding:0 16px;">
        <div
          style="padding: 40px 0px; background:white ;border-bottom: 2px solid #E1E6EC; text-align: center"
        >
          <div style="padding: 10px; display: inline-block; text-align: center">
            <%= image_tag @company_logo, height: 80 ,width: 80 %>
          </div>
          <p  style="font-family: 'Manrope';font-style: normal;font-size: 16px;line-height: 22px;text-align: center;color: #1D1A31; margin: 0px; padding: 0px">
            <%= sanitize @message %>
          </p>
        </div>
      </div>
      <p style="text-align: center; font-family: 'Manrope'; font-weight:700; font-size: 24px; line-height:33px; color: #1D1A31;text-transform: capitalize; margin: 40px auto; padding: 0;">
        Payment receipt
      </p>
      <div style="font-family: 'Manrope';font-weight: 400; font-size: 12px;line-height: 16px; text-align: center; color: #1D1A31; margin: 40px auto;">
        <div>
          <p style="font-family: 'Manrope'; margin: 0px; padding: 0px;">Payment method</p>
          <p style="font-family: 'Manrope'; font-size: 16px; font-style: normal; font-weight: 400; line-height: 22px; color: #1D1A31; margin: 0px; padding: 4px 0px 16px 0px;"><%= @invoice.payments.any?(&:present?) ? @invoice.payments.pluck(:transaction_type).to_sentence.upcase : "STRIPE" %></p>
        </div>
        <div>
          <p style="font-family: 'Manrope'; margin: 0px; padding: 0px;">Amount Paid</p>
          <p style="font-size: 16px; font-style: normal; font-weight: 400; line-height: 22px; color: #1D1A31; margin: 0px; padding: 4px 0px 16px 0px;">
            <%= @amount %>
          </p>
        </div>
        <div>
          <p style="font-family: 'Manrope'; margin: 0px; padding: 0px;">Issued to</p>
          <p style="font-family: 'Manrope' font-style: normal; font-size: 16px; font-style: normal; font-weight: 400; line-height: 22px; color: #1D1A31; margin: 0px; padding: 4px 0px 16px 0px;"><%= @invoice.client.name %></p>
        </div>
      </div>
      <div id="footer">
        <div
          style="font-family: 'Manrope'; padding:16px; align-items:center; background: #EBEFF2; text-align:center;"
        >
          <table style=" width:80%; margin: 0 auto; padding-top:16px;">
            <tr>
              <td
                align="right"
                style="font-family: 'Manrope'; font-style: normal; font-size:14px; font-weight:400; line-height: 19px; color:#A5A3AD; display: inline-block; text-align: center;"
              >Powered by</td>
              <td align="left" style="vertical-align: middle; display: inline-block;">
                <%= image_tag attachments['miruLogoWithText.png'].url, height:'48px', width:'120px' %>
              </td>
            </tr>
          </table>
          <p style="font-family: 'Manrope'; font-style: normal; font-size:14px; font-weight:400; line-height: 19px; text-align: center; color:#A5A3AD; width: 80%; margin: 8px auto 0px auto;">
            Time tracking and Invoicing Software for every business
          </p>
        </div>
        <div
          style="font-family: 'Manrope'; padding-left:16px; padding-right:px; padding-top:12px; padding-bottom:12px; display: flex; align-items: center; justify-content:space-between; color:white; background:#5B34EA;"
        >
          <p
            style="font-family: 'Manrope'; font-size:12px; font-weight:normal;  font-style: normal; text-align: center; line-height: 16px; flex-basis: 30%; color: #FFFFFF;"
          >© Miru. All rights reserved.</p>
          <p
            style="padding-left: 10px; font-family: 'Manrope'; font-size:12px; font-weight:700; color: #FFFFFF; line-height: 16px; text-align: right; float:right; flex-basis: 30%"
          >
            <a
              href="https://miru.so"
              target="_blank"
              style="color:#FFFFFF; vertical-align: middle; margin-bottom: 3px; text-decoration: none;"
            >
              www.miru.so/
            </a>
          </p>
          <div
            style="font-size:12px; font-weight:normal; line-height: 16px; float:right; color: #FFFFFF; flex-basis: 30%; position: relative; top: 2px;"
          >
            <a
              href="https://www.instagram.com/getmiru/"
              target="_blank"
            >
              <%= image_tag attachments['Instagram.png'].url, height: '16px' ,width:'16px', style: 'margin: 0px 20px;' %>
            </a>
            <a
              href="https://x.com/getmiru"
              target="_blank"
            >
              <%= image_tag attachments['Twitter.png'].url, height: '16px' ,width:'16px' %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
