<%= form_with model: Project.new do |f| %>
    <%= f.label :client %>
    <div class="mt-1">
        <%= f.collection_select :client_id, current_company.clients.order(:name),:id,:name, {}, { class: "rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000" } %>
    </div>

    <%= f.label :project_name %>
    <div class="mt-1">
        <%= f.text_field :name, class: "form__input" %>
    </div>

    <div class="flex items-center">
        <%= f.radio_button :billable, true, class: "form__radio" %>
        <%= f.label :billable, "Billable", class: "form__label" %>
    
        <%= f.radio_button :billable, false, class: "form__radio" %>
        <%= f.label :billable, "Non-Billable", class: "form__label" %>
    </div>

    <div class="actions mt-4">
        <%= f.submit t('project.add_project'), class: "form__button" %>
    </div>
<% end %>
  
