<%= simple_form_for @new_project do |f| %>
    <%= f.association :client, include_blank: false %>
    <%= f.input :name %>
    <%= f.simple_fields_for @timesheet_entries do |form| %>
        <%= form.input :user, list: 'first-name' %>
        <datalist id="first-name">
          <% User.all.each do |user| %>
            <option value="<%= user.first_name %>"></option>
          <% end %>
        </datalist>
    <% end %>
<% end %>
