<%= javascript_pack_tag 'project_member' %>

<%= form_for Project.new do |f| %>
    <div class="mt-4">
        <%= f.fields_for :project_members do |member_form| %>
        <% $var = member_form %>
            <%= render 'project_member', f: member_form %>
        <% end %>

            <%= link_to_add_row("ADD ANOTHER TEAM MEMBER", f, :project_members, class: "form__link") %>

            <div class="actions mt-4">
                <%= f.submit "ADD TEAM MEMBERS TO PROJECT", class: "form__button" %>
            </div>
    </div>
<% end %>
