<%= form_with model: Project.new do |f| %>
    <div class="mt-4">
        <%= f.fields_for :project_members do |member| %>

            <div class="field">
                <%= member.label "Team Members" %>
                <div class="mt-2 flex -space-x-px">
                    <div class="mr-4 w-1/2 flex-1 min-w-0">
                        <%= member.text_field :user_id, class: "form__input", list: 'first-name' %>
                    </div>
                    <datalist id="first-name">
                        <% Project.all.each do |person| %>
                            <option value="<%= person.name %>"></option>
                        <% end %>
                    </datalist>

                    <div class="w-1/2 flex-1 min-w-0">
                        <%= member.text_field :hourly_rate, class: "form__input", placeholder: "Rate" %>
                    </div>
                </div>
            </div>

            <%= link_to "ADD ANOTHER TEAM MEMBER", id: "add_members"  %>

            <div class="actions mt-4">
                <%= member.submit "ADD TEAM MEMBERS TO PROJECT", class: "form__button" %>
            </div>
        <% end %>
    </div>
<% end %>

<script>

const addAnotherMember = document.getElementById("add_members");
alert(addAnotherMember);
</script>