<div class="bg-miru-dark-purple-1000 h-screen font-manrope">
  <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-16 w-auto" src="/miru-logo.svg" alt="miru login page">
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
          <div class="bg-miru-white-1000 py-6 px-6 shadow sm:rounded-lg sm:px-10">
            <div class="space-y-3">
              <h2 class="text-xl font-sans font-medium tracking-normal text-miru-dark-purple-1000">
                Sign In
              </h2>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div>
                  <div class="field">
                    <%= f.label :email, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
                    <div class="mt-1">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-gray-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base" %>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="field mt-4" x-data="{ show: true }">
                    <div class="field">
                      <%= f.label :password, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
                      <div class="mt-1 relative">
                        <input name="user[password]" placeholder="" :type="show ? 'password' : 'text'" class="rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-gray-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base">
                        <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                          <img src="<%= image_url 'password_icon.svg' %>" @click="show = !show" :class="{'hidden': !show, 'block':show }" class="h-4 w-4 text-miru-han-purple-1000 cursor-pointer">
                          <img src="<%= image_url 'password_icon_text.svg' %>" @click="show = !show" :class="{'block': !show, 'hidden':show }" class="h-4 w-4 text-miru-han-purple-1000 cursor-pointer">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="mt-4">
                  <% if devise_mapping.rememberable? %>
                    <% begin %>
                      <div class="field">
                        <div class="flex items-center justify-between">
                          <div class="flex items-center">
                            <%= f.check_box :remember_me, class: "h-4 w-4 text-miru-dark-purple-1000 focus:ring-text-miru-han-purple-1000 border-text-miru-han-purple-600 rounded" %>
                            <%= f.label :remember_me, class: "ml-2 text-sm font-semibold text-miru-dark-purple-1000" %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <div class="actions mt-4">
                    <%= f.submit "SIGN IN", class: "h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-base font-sans font-medium text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded cursor-pointer" %>
                  </div>
                </div>
              <% end %>
              <div class="my-2">
                <div class="relative flex justify-center text-sm">
                  <span class="px-2 bg-miru-white-1000 font-sans font-normal text-miru-dark-purple-1000">
                    OR
                  </span>
                </div>
              </div>
              <div>
                <div class="mt-4">
                  <button type="button" class="inline-flex items-center h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-base font-sans font-medium text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded">
                    <img src="<%= image_url 'google.svg' %>" class="-ml-0.5 mr-2 h-4 w-4 ">
                    SIGN IN WITH GOOGLE
                  </button>
                </div>
              </div>
              <div>
                <div class="mt-4">
                  <button type="button" class="inline-flex items-center h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-base font-sans font-medium text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded">
                    <img src="<%= image_url 'apple.svg' %>" class="-ml-0.5 mr-2 h-4 w-4 ">
                    SIGN IN WITH APPLE
                  </button>
                </div>
              </div>
              <div>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>










