<td id="profilepicture-<%= member.id %>" class="table__data">
  <%= image_tag user_avatar(member), class: "table__avatar" %>
</td>
<td id="full_name-<%= member.id %>" class="table__data">
  <div class="flex items-center">
    <div class="table__name">
      <%= member.full_name.titleize %>
    </div>
  </div>
</td>
<td id="email-<%= member.id %>" class="table__data table__text">
  <% if member.unconfirmed_email? %>
    <%= t('team.current_email') %> : <%= member.email %><br/>
    <%= t('team.changed_email') %>: <%= member.unconfirmed_email %>
  <% else %>
    <%= member.email %>
  <% end %>
</td>
<td id="role-<%= member.id %>" class="table__data table__text">
  <%= member.primary_role.titlecase %>
</td>
<td id="pending-<%= member.id %>" class="table__data">
  <% if current_user.has_role?(:owner, current_company) || current_user.has_role?(:admin, current_company) %>
    <% if member.unconfirmed_email?  %>
      <span class="table__pending">
        <%= t('team.reconfirmation') %>
      </span>
    <% elsif !member.invitation_accepted? && !member.has_role?(:owner, current_company) %>
      <span class="table__pending">
       <%= t('team.invitation') %>
      </span>
    <% end %>
  <% end %>
</td>
<td id="edit-<%= member.id %>" class="table__data table__button_design">
  <% if policy(:team).edit? %>
    <%= link_to edit_team_path(member), remote: true do %>
      <div class="w-6">
        <img id="mid-<%= member.id %>" class="table__button" data-team-element="edit-member" data-cy="edit-team-member-button" src="<%= image_url 'edit_image_button.svg' %>">
      </div>
    <% end %>
  <% end %>
</td>
<td id="delete-<%= member.id %>" class="table__data table__button_design">
  <% if policy(:team).destroy? %>
    <%= link_to team_path(member), data: { confirm: "Are you sure?" }, method: :delete do %>
      <div class="w-6">
        <%= image_tag 'delete_image_button.svg', class:"table__button", "data-cy": "delete-team-member-button" %>
      </div>
    <% end %>
  <% end %>
</td>
