<%= javascript_pack_tag "team/modal" %>

<div class="" id="root-page">
  <div class="align-page__outer-wrapper">
    <div class="align-page__middle-wrapper">
      <div class="align-page__inner-wrapper">

        <!-- title search and new user button start -->
        <div class="page-content__position">
          <div class="page-content__title-width">
            <h2 class="page-content__title">
              <%= t('team.team') %>
            </h2>
          </div>
          <div class="page-content__search-width">
            <%= search_form_for query, url: team_index_path, class: "page-content__search"  do |f| %>
              <div class="relative rounded">
              <%= f.text_field :first_name_or_last_name_or_email_cont, class: "page-content__search-input", placeholder: 'Search' %>
              <%= image_submit_tag 'search_icon.svg', class: "page-content__search-image" %>
              </div>
            <% end %>
          </div>
          <% if current_user.has_owner_or_admin_role?(current_company) %>
            <div class="page-content__new-user-width">
              <div class="page-content__new-user-position">
                <button data-team-element="new-user-btn" type="button" class="page-content__new-user-button">
                  <img src="<%= image_url 'plus_icon.svg' %>" class="page-content__button-image">
                  <%= t('team.new_user') %>
                </button>
              </div>
            </div>
          <% end %>
        </div>
        <!-- title search and new user button end -->

        <!-- team table start -->
        <div class="table__flex">
          <div class="table__position-one">
            <div class="table__position-two">
              <div class="table__border">
                <table class="table__width">
                  <thead class="">
                    <tr>
                      <th scope="col" class="table__header">
                        <%= t('team.profile_picture') %>
                      </th>
                      <th scope="col" class="table__header">
                        <%= t('team.name') %>
                      </th>
                      <th scope="col" class="table__header">
                        <%= t('team.email_id') %>
                      </th>
                      <th scope="col" class="table__header">
                        <%= t('team.role') %>
                      </th>
                      <th scope="col" class="table__header">

                      </th>
                      <th scope="col" class="table__header">

                      </th>
                    </tr>
                  </thead>
                  <tbody id="teamstable" class="table__body">
                    <% teams.kept.each do |member| %>
                        <tr id="member-<%= member.id %>">
                          <%= render partial: "team", locals: { member: member } %>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- team table end -->

      </div>

      <!--Modal 1 start-->
      <div class="modal__modal main-modal" style="background-color: rgba(29, 26, 49,0.6)">
        <div class="modal__container modal-container">
          <div class="modal__content modal-content">
            <div class="modal__position">
              <h6 class="modal__title"><%= t('team.create_new_user') %></h6>
              <div class="modal__close modal-close" data-team-element="invite-modal-close">
                <button data-team-element="invite-modal-close-btn">
                  <img src="<%= image_url 'close_button.svg' %>" class="modal__button">
                </button>
              </div>
            </div>
            <div class="modal__form">
              <%= render "devise/invitations/new"%>
            </div>
          </div>
        </div>
      </div>
      <!--Modal 1 end-->

      <!--Modal 2 start-->
        <div class="another-modal modal__modal" style="background-color: rgba(29, 26, 49,0.6)">
          <div class="modal-container modal__container">
            <div class="modal-content modal__content">
              <div class="modal__position">
                <h6 class="modal__title"><%= t('team.update_user') %></h6>
                <div data-team-element="modal-close" class="modal-close modal__close">
                  <img src="<%= image_url 'close_button.svg' %>" class="modal__button">
                </div>
              </div>
              <div id="team-modal" class="modal__form">
              </div>
            </div>
          </div>
        </div>
      <!--Modal 2 End-->

    </div>
  </div>
</div>
