<div class="" id="root-page">
  <%= render "partial/navbar" %>
  <div class="max-w-6xl mx-auto px-2 md:px-11 font-manrope" x-data="{ 'isDialogOpen': false }" @keydown.escape="isDialogOpen = false">
    <div class="px-5">
      <div class="">

        <div class="sm:flex sm:items-center sm:justify-between mt-6 mb-3">
          <div class="flex-1 min-w-0">
            <h2 class="text-3xl font-extrabold leading-7 text-gray-900 sm:text-4xl sm:truncate py-1">
              Team
            </h2>
          </div>
          <div class="mt-6 flex sm:mt-0 md:ml-4 items-center">
            <div class="mt-1 relative rounded-md shadow-sm">
              <input type="text" name="" id="" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border-gray-300 rounded-md" placeholder="000-00-0000">
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <img src="<%= image_url 'search_icon.svg' %>" class="h-5 w-5 text-gray-400">
              </div>
            </div>
          </div>
          <div class="mt-6 flex sm:mt-0 md:ml-4">
            <button @click="isDialogOpen = true" type="button" class="ml-2 tracking-widest inline-flex items-center h-10 w-full flex justify-center py-1 px-4 border-2 border-miru-han-purple-1000 shadow-sm bg-transparent hover:border-miru-han-purple-600 focus:outline-none rounded text-base font-sans font-medium text-miru-han-purple-1000 bg-transparent hover:text-miru-han-purple-600 cursor-pointer">
              <img src="<%= image_url 'plus_icon.svg' %>" class="-ml-0.5 mr-2 h-4 w-4 ">
              NEW USER
            </button>
          </div>
        </div>

        <!-- team table -->
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 ">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden border-b-2 border-miru-gray-200 ">
                <table class="min-w-full divide-y divide-gray-200 mt-4">
                  <thead class="">
                    <tr>
                      <th scope="col" class="px-6 py-5 text-left text-sm font-semibold text-miru-dark-purple-600 tracking-wider">
                        PHOTO
                      </th>
                      <th scope="col" class="px-6 py-5 text-left text-sm font-semibold text-miru-dark-purple-600 tracking-wider">
                        NAME
                      </th>
                      <th scope="col" class="px-6 py-5 text-left text-sm font-semibold text-miru-dark-purple-600 tracking-wider">
                        EMAIL ID
                      </th>
                      <th scope="col" class="px-6 py-5 text-left text-sm font-semibold text-miru-dark-purple-600 tracking-wider">
                        ROLE
                      </th>
                      <th scope="col" class="px-6 py-5 text-left text-sm font-semibold text-miru-dark-purple-600 tracking-wider">

                      </th>
                      <th scope="col" class="relative px-6 py-5">
                        <span class="sr-only">Edit</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <% @teams.each do |member| %>
                      <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <%= image_tag user_avatar(member), class: "h-10 w-10 rounded-full" %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="flex items-center">
                            <div class="text-base font-semibold text-miru-dark-purple-1000">
                              <%= member.first_name.capitalize %> <%= member.last_name.capitalize %>
                            </div>
                          </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <%= member.email %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                          <%= member.roles.first.name.titlecase %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <% if member.invitation_accepted_at.blank? %>
                            <span class="px-2 inline-flex text-xs leading-5 tracking-wider font-semibold rounded-full bg-miru-han-purple-100 text-miru-han-purple-1000">
                              INVITATION PENDING
                            </span>
                          <% end %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                          <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                        </td>
                      </tr>
                    <% end %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

        <div class="px-4 min-h-screen flex items-center justify-center">
          <div class="overflow-auto" style="background-color: rgba(29, 26, 49,0.6)" x-show="isDialogOpen" :class="{ 'absolute inset-0 z-10 flex items-start justify-center': isDialogOpen }">
            <div class="relative px-4 min-h-screen md:flex md:items-center md:justify-center">
            <div class="rounded-lg px-6 pb-6 bg-white shadow-xl transform transition-all sm:align-middle sm:max-w-md sm:w-full" x-show="isDialogOpen" @click.away="isDialogOpen = false">
              <div class="flex justify-between items-center mt-6">
                <h6 class="text-base font-extrabold">Create New User</h6>
                <button type="button" @click="isDialogOpen = false"><img src="<%= image_url 'close_button.svg' %>"%></button>
              </div>
              <%= render "devise/invitations/new"%>
            </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

</div>