<div class="" id="root-page">
  <%= render "partial/navbar" %>
  <div class="max-w-6xl mx-auto px-2 md:px-11 font-manrope">
    <div class="px-5">
      <div class="">

        <div class="sm:flex sm:items-center sm:justify-between mt-6 mb-3">
          <div class="flex-1 min-w-0">
            <h2 class="text-3xl font-extrabold leading-7 text-gray-900 sm:text-4xl sm:truncate py-1">
              Team
            </h2>
          </div>
          <div class="mt-6 flex sm:mt-0 md:ml-4 items-center">
            <div class="mt-1 relative rounded-md shadow-sm">
              <input type="text" name="" id="" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 sm:text-sm border-gray-300 rounded-md" placeholder="000-00-0000">
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <img src="<%= image_url 'search_icon.svg' %>" class="h-5 w-5 text-gray-400">
              </div>
            </div>
          </div>
          <div class="mt-6 flex sm:mt-0 md:ml-4">
            <button type="button" class="ml-2 tracking-widest inline-flex items-center h-10 w-full flex justify-center py-1 px-4 border-2 border-miru-han-purple-1000 shadow-sm bg-transparent hover:border-miru-han-purple-600 focus:outline-none rounded text-base font-sans font-medium text-miru-han-purple-1000 bg-transparent hover:text-miru-han-purple-600 cursor-pointer">
              <img src="<%= image_url 'plus_icon.svg' %>" class="-ml-0.5 mr-2 h-4 w-4 ">
              NEW USER
            </button>
          </div>
        </div>

        <!-- team table -->
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Name
                      </th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Title
                      </th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Status
                      </th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Role
                      </th>
                      <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">Edit</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <% @teams.each do |member| %>
                      <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="flex items-center">
                            <div class="flex-shrink-0 h-10 w-10">
                              <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                            </div>
                            <div class="ml-4">
                              <div class="text-sm font-medium text-gray-900">
                                <%= member.first_name %> <%= member.last_name %>
                              </div>
                              <div class="text-sm text-gray-500">
                                <%= member.email %>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="text-sm text-gray-900">Regional Paradigm Technician</div>
                          <div class="text-sm text-gray-500">Optimization</div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                            Active
                          </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                          <%= member.roles.first.name.titlecase %>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                          <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                        </td>
                      </tr>
                    <% end %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>

    <!--  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" >-->
    <!--    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0" >-->

    <!--      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>-->

          <!-- This element is to trick the browser into centering the modal contents. -->
    <!--      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>-->

    <!--      <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">-->
    <!--        <div>-->
    <!--          <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">-->
                <!-- Heroicon name: outline/check -->
    <!--            <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">-->
    <!--              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />-->
    <!--            </svg>-->
    <!--          </div>-->
    <!--          <div class="mt-3 text-center sm:mt-5">-->
    <!--            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">-->
    <!--              Payment successful-->
    <!--            </h3>-->
    <!--            <div class="mt-2">-->
    <!--              <p class="text-sm text-gray-500">-->
    <!--                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur amet labore.-->
    <!--              </p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="mt-5 sm:mt-6">-->
    <!--          <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">-->
    <!--            Go back to dashboard-->
    <!--          </button>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    </div>
  </div>
</div>


