<div class="" id="root-page">
  <div class="align_page__one">
    <div class="align_page__two">
      <div class="align_page__three">

        <!-- title search and new user button start -->
        <div class="page_content__position">
          <div class="page_content__title_width">
            <h2 class="page_content__title">
              <%= t('team.team') %>
            </h2>
          </div>
          <div class="page_content__search_width">
            <%= search_form_for query, url: team_index_path, class: "page_content__search"  do |f| %>
              <div class="relative rounded">
              <%= f.text_field :first_name_or_last_name_or_email_cont, class: "page_content__search_input", placeholder: 'Search' %>
              <%= image_submit_tag 'search_icon.svg', class: "page_content__search_image" %>
              </div>
            <% end %>
          </div>
          <% if current_user.has_owner_or_admin_role?(current_company) %>
            <div class="page_content__newUser_width">
              <div class="page_content__newUser_position">
                <button onclick="openModal('main-modal')" type="button" class="page_content__newUser_button">
                  <img src="<%= image_url 'plus_icon.svg' %>" class="page_content__button_image">
                  <%= t('team.new_user') %>
                </button>
              </div>
            </div>
          <% end %>
        </div>
        <!-- title search and new user button end -->

        <!-- team table start -->
        <div class="table__flex">
          <div class="table__position_one">
            <div class="table__position_two">
              <div class="table__border">
                <table class="table__width">
                  <thead class="">
                    <tr>
                      <th scope="col" class="table__header">
                        <%= t('team.profile_picture') %>
                      </th>
                      <th scope="col" class="table__header">
                        <%= t('team.name') %>
                      </th>
                      <th scope="col" class="table__header">
                        <%= t('team.email_id') %>
                      </th>
                      <th scope="col" class="table__header">
                        <%= t('team.role') %>
                      </th>
                      <th scope="col" class="table__header">

                      </th>
                      <th scope="col" class="table__header">

                      </th>
                    </tr>
                  </thead>
                  <tbody id="teamstable" class="table__body">
                    <% teams.kept.each do |member| %>
                        <tr id="member-<%= member.id %>">
                          <%= render partial: "team", locals: { member: member } %>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- team table end -->

      </div>

      <!--Modal 1 start-->
      <div class="modal__modal main-modal" style="background-color: rgba(29, 26, 49,0.6)">
        <div class="modal__container modal-container">
          <div class="modal__content modal-content">
            <div class="modal__position">
              <h6 class="modal__title"><%= t('team.create_new_user') %></h6>
              <div class="modal__close modal-close" onclick="modalClose('main-modal')">
                <button onclick="ClearFields();">
                  <img src="<%= image_url 'close_button.svg' %>" class="modal__button">
                </button>
              </div>
            </div>
            <div class="modal__form">
              <%= render "devise/invitations/new"%>
            </div>
          </div>
        </div>
      </div>
      <!--Modal 1 end-->

      <!--Modal 2 start-->
        <div class="another-modal modal__modal" style="background-color: rgba(29, 26, 49,0.6)">
          <div class="modal-container modal__container">
            <div class="modal-content modal__content">
              <div class="modal__position">
                <h6 class="modal__title"><%= t('team.update_user') %></h6>
                <div class="modal-close modal__close" onclick="modalClose('another-modal')">
                  <img src="<%= image_url 'close_button.svg' %>" class="modal__button">
                </div>
              </div>
              <div id="team-modal" class="modal__form">
              </div>
            </div>
          </div>
        </div>
      <!--Modal 2 End-->

    </div>
  </div>
</div>

<script>
  all_modals = ['main-modal', 'another-modal']
  all_modals.forEach((modal)=>{
    const modalSelected = document.querySelector('.'+modal);
    modalSelected.classList.remove('fadeIn');
    modalSelected.classList.add('fadeOut');
    modalSelected.style.display = 'none';
  })
  const modalClose = (modal) => {
    const modalToClose = document.querySelector('.'+modal);
    modalToClose.classList.remove('fadeIn');
    modalToClose.classList.add('fadeOut');
    setTimeout(() => {
      modalToClose.style.display = 'none';
    }, 500);
  }
  const openModal = (modal) => {
    const modalToOpen = document.querySelector('.'+modal);
    modalToOpen.classList.remove('fadeOut');
    modalToOpen.classList.add('fadeIn');
    modalToOpen.style.display = 'flex';
  }

  function ClearFields() {
     document.getElementById("team_first_name").value = "";
     document.getElementById("team_last_name").value = "";
     document.getElementById("team_email").value = "";
  }
</script>
