<div class="" id="root-page">
  <div class="align_page__one">
    <div class="align_page__two">
      <div class="align_page__three">

        <div class="sm:flex sm:items-center sm:justify-between px-1 sm:px-0 mt-6">
          <div class="w-full sm:w-1/5">
            <h2 class="text-3xl font-bold leading-7 text-gray-900 sm:text-4xl py-1">
              <%= t('team.team') %>
            </h2>
          </div>
          <div class="w-full sm:w-3/5 mt-6 sm:mt-0">
            <%= search_form_for query, url: team_index_path, class: "sm:pr-6 md:pr-10 lg:pr-6 xl:pr-48 xxl:pr-56"  do |f| %>
              <div class="relative rounded">
                <%= f.text_field :first_name_or_last_name_or_email_cont, class: 'block w-full pr-10 border border-gray-100 rounded px-3 py-2 bg-miru-gray-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-sm', placeholder: 'Search' %>
                <%= image_submit_tag 'search_icon.svg', class: "h-4 absolute inset-y-0 right-0 pr-3 my-2 flex items-center cursor-pointer" %>
              </div>
            <% end %>
          </div>
          <% if current_user.has_owner_or_admin_role?(current_company) %>
            <div class="w-full sm:w-1/4 mt-6 sm:mt-0">
              <div class="md:ml-3 lg:ml-5 xl:ml-22">
                <button onclick="openModal('main-modal')" type="button" class="sm:ml-2 tracking-widest inline-flex items-center h-10 w-full flex justify-center py-1 md:px-4 border-2 border-miru-han-purple-1000 shadow-sm bg-transparent hover:border-miru-han-purple-600 focus:outline-none rounded text-base font-semibold text-miru-han-purple-1000 bg-transparent hover:text-miru-han-purple-600 cursor-pointer">
                  <img src="<%= image_url 'plus_icon.svg' %>" class="-ml-0.5 mr-2 h-4 w-4 ">
                  <%= t('team.new_user') %>
                </button>
              </div>
            </div>
          <% end %>
        </div>

        <!-- team table start -->
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 ">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden border-b-2 border-miru-gray-200 ">
                <table class="min-w-full divide-y divide-gray-200 mt-4">
                  <thead class="">
                    <tr>
                      <th scope="col" class="px-3 py-5 text-left text-xs font-normal text-miru-dark-purple-600 tracking-widest">
                        <%= t('team.profile_picture') %>
                      </th>
                      <th scope="col" class="px-3 py-5 text-left text-xs font-normal text-miru-dark-purple-600 tracking-widest">
                        <%= t('team.name') %>
                      </th>
                      <th scope="col" class="px-3 py-5 text-left text-xs font-normal text-miru-dark-purple-600 tracking-widest">
                        <%= t('team.email_id') %>
                      </th>
                      <th scope="col" class="px-3 py-5 text-left text-xs font-normal text-miru-dark-purple-600 tracking-widest">
                        <%= t('team.role') %>
                      </th>
                      <th scope="col" class="px-3 py-5 text-left text-xs font-normal text-miru-dark-purple-600 tracking-widest">

                      </th>
                      <th scope="col" class="px-3 py-5 text-left text-xs font-normal text-miru-dark-purple-600 tracking-widest">

                      </th>
                    </tr>
                  </thead>
                  <tbody id="teamstable" class="bg-white divide-y divide-gray-200">
                    <% teams.kept.each do |member| %>
                        <tr id="member-<%= member.id %>">
                          <%= render partial: "team", locals: { member: member } %>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- team table end -->

      </div>

      <!--Modal 1 start-->
      <div class="px-5 main-modal fixed w-full inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster" style="background-color: rgba(29, 26, 49,0.6)">
        <div class="shadow-lg modal-container bg-white w-full max-w-md mx-auto rounded-xl shadow-lg z-50 overflow-y-auto">
          <div class="modal-content py-4 text-left px-3">
            <div class="flex justify-between items-center mx-3">
              <h6 class="text-base font-extrabold"><%= t('team.create_new_user') %></h6>
              <div class="modal-close cursor-pointer z-50" onclick="modalClose('main-modal')">
                <img src="<%= image_url 'close_button.svg' %>" class="p-2 rounded hover:bg-opacity-20 hover:bg-miru-gray-1000">
              </div>
            </div>
            <div class="mb-3 mx-3 flex justify-center">
              <%= render "devise/invitations/new"%>
            </div>
          </div>
        </div>
      </div>
      <!--Modal 1 end-->

      <!--Modal 2 start-->
        <div class="px-5 another-modal fixed w-full inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster" style="background-color: rgba(29, 26, 49,0.6)">
          <div class="shadow-lg modal-container bg-white w-full max-w-md mx-auto rounded-xl shadow-lg z-50 overflow-y-auto">
            <div class="modal-content py-4 text-left px-3">
              <div class="flex justify-between items-center mx-3">
                <h6 class="text-base font-extrabold"><%= t('team.update_user') %></h6>
                <div class="modal-close cursor-pointer z-50 ml-" onclick="modalClose('another-modal')">
                  <img src="<%= image_url 'close_button.svg' %>" class="p-2 rounded hover:bg-opacity-20 hover:bg-miru-gray-1000">
                </div>
              </div>
              <div id="team-modal" class="mb-3 mx-3 flex justify-center">
              </div>
            </div>
          </div>
        </div>
      <!--Modal 2 End-->

    </div>
  </div>
</div>

<script>
  all_modals = ['main-modal', 'another-modal']
  all_modals.forEach((modal)=>{
    const modalSelected = document.querySelector('.'+modal);
    modalSelected.classList.remove('fadeIn');
    modalSelected.classList.add('fadeOut');
    modalSelected.style.display = 'none';
  })
  const modalClose = (modal) => {
    const modalToClose = document.querySelector('.'+modal);
    modalToClose.classList.remove('fadeIn');
    modalToClose.classList.add('fadeOut');
    setTimeout(() => {
      modalToClose.style.display = 'none';
    }, 500);
  }
  const openModal = (modal) => {
    const modalToOpen = document.querySelector('.'+modal);
    modalToOpen.classList.remove('fadeOut');
    modalToOpen.classList.add('fadeIn');
    modalToOpen.style.display = 'flex';
  }
</script>
