<div class="relative px-4 min-h-screen md:flex md:items-center md:justify-center">
      <div class="rounded-lg px-6 pb-6 bg-white shadow-xl transform transition-all sm:align-middle sm:max-w-md sm:w-full" x-show="isDialogOpen" @click.away="isDialogOpen = false">
        <div class="flex justify-between items-center mt-6">
          <h6 class="text-base font-extrabold">Update User</h6>
          <%= link_to(image_tag(image_url 'close_button.svg'), team_index_path,  :method => :get) %>
          </button>
        </div>
          <%= form_with model: @user, url: team_path(@user), method: :put, local: true do |f| %>
            <div class="mt-4">
              <div class="field">
                <label class="tracking-wider block text-sm font-semibold text-miru-dark-purple-1000">Name</label>
                <div class="mt-2 flex -space-x-px">
                  <div class="mr-4 w-1/2 flex-1 min-w-0">
                    <%= f.text_field :first_name, autofocus: true, class: "rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base" %>
                  </div>
                  <div class="w-1/2 flex-1 min-w-0">
                    <%= f.text_field :last_name, autofocus: true, class: "rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-4">
              <div class="field">
                <%= f.label :email, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
                <div class="mt-2">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded tracking-wider appearance-none border border-graymiru-white-1000-100 block w-full px-3 py-2 bg-miru-dark-purple-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-400 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base" %>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <div class="field">
                <label class="tracking-wider block text-xs font-semibold text-miru-dark-purple-1000">Role</label>
                <div class="mt-1">
                  <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
                    <div class="flex items-center">
                      <%= f.radio_button :roles, "admin", :checked=>(@user.primary_role.titlecase == "Admin"), class: "focus:ring-miru-han-purple-1000 h-4 w-4 border-miru-han-purple-1000 text-miru-dark-purple-1000" %>
                      <label for="admin" class="ml-3 block text-sm  font-semibold text-miru-dark-purple-1000">
                        Admin
                      </label>
                    </div>

                    <div class="flex items-center">
                      <%= f.radio_button :roles, "employee", :checked=>(@user.primary_role.titlecase == "Employee"), class: "focus:ring-miru-han-purple-1000 h-4 w-4 border-miru-han-purple-1000 text-miru-dark-purple-1000" %>
                      <label for="Employee" class="ml-3 block text-sm  font-semibold text-miru-dark-purple-1000">
                        Employee
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions mt-4">
              <%= f.submit "SAVE", class: "tracking-widest h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-base font-sans font-medium text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded cursor-pointer"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
