<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mt-4">
    <div class="field">
      <div class="field_with_errors">
        <label class="tracking-wider block text-xs font-normal text-miru-dark-purple-1000"><%= t('team.form_name') %></label>
        <%=
          if f.object.errors.include?(:first_name)
            error_message_on(f.object, :first_name)
          else
            error_message_on(f.object, :last_name)
          end
        %>
      </div>
      <div class="mt-1 flex -space-x-px">
        <div class="mr-4 w-1/2 flex-1 min-w-0">
          <%= f.text_field :first_name, id:"team_first_name",required: true, placeholder: t('team.first_name'),  class: "rounded tracking-wider appearance-none border block w-full px-3 py-2 bg-miru-gray-100 h-8 shadow-sm font-medium text-sm text-miru-dark-purple-1000 focus:outline-none sm:text-base #{error_message_class(f.object, :first_name)}" ,"data-cy": "new-member-firstName" %>
        </div>
        <div class="w-1/2 flex-1 min-w-0">
          <%= f.text_field :last_name, id:"team_last_name",required: true, placeholder: t('team.last_name'), class: "rounded tracking-wider appearance-none border block w-full px-3 py-2 bg-miru-gray-100 h-8 shadow-sm font-medium text-sm text-miru-dark-purple-1000 focus:outline-none sm:text-base #{error_message_class(f.object, :last_name)}" ,"data-cy": "new-member-lastname" %>
        </div>
      </div>
    </div>
  </div>
  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="mt-4">
      <div class="field">
        <div class="field_with_errors">
          <label class="tracking-wider block text-xs font-normal text-miru-dark-purple-1000">
            <%= t('team.form_email') %>
          </label>
          <%= error_message_on(f.object, field) %>
        </div>
        <div class="mt-1">
          <%= f.text_field field, id:"team_email",required: true, placeholder: t('team.email'), class: "rounded tracking-wider appearance-none border block w-full px-3 py-2 bg-miru-gray-100 h-8 shadow-sm font-medium text-sm text-miru-dark-purple-1000 focus:outline-none sm:text-base #{error_message_class(f.object, field)}" , "data-cy": "new-member-email" %>
        </div>
      </div>
    </div>
  <% end -%>

  <div class="mt-4">
    <div class="field">
      <label class="tracking-wider block text-xs font-normal text-miru-dark-purple-1000"><%= t('team.form_role') %></label>
      <div class="mt-1">
        <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
          <div class="flex items-center">
            <%= f.radio_button :roles, 'Admin', class: "focus:ring-miru-han-purple-1000 h-4 w-4 border-miru-han-purple-1000 text-miru-dark-purple-1000 cursor-pointer" , "data-cy": "admin-radio-button" %>
            <label for="admin" class="ml-3 block text-sm font-medium text-miru-dark-purple-1000">
              <%= t('team.form_admin') %>
            </label>
          </div>

          <div class="flex items-center">
            <%= f.radio_button :roles, 'Employee', :checked=>true , class: "focus:ring-miru-han-purple-1000 h-4 w-4 border-miru-han-purple-1000 text-miru-dark-purple-1000 cursor-pointer" , "data-cy": "employee-radio-button" %>
            <label for="Employee" class="ml-3 block text-sm font-medium text-miru-dark-purple-1000">
              <%= t('team.form_employee')%>
            </label>
          </div>

          <div class="flex items-center">
            <%= f.radio_button :roles, 'Book_keeper', class: "focus:ring-miru-han-purple-1000 h-4 w-4 border-miru-han-purple-1000 text-miru-dark-purple-1000 cursor-pointer" %>
            <label for="Book_keeper" class="ml-3 block text-sm font-medium text-miru-dark-purple-1000">
              <%= t('team.form_book_keeper')%>
            </label>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="field">
      <label class="tracking-wider block text-xs font-normal text-miru-dark-purple-1000"><%= t('team.form_department') %></label>
      <div class="mt-2">
        <%= f.collection_select :department_id, User::DEPARTMENT_OPTIONS,:id,:name, { :prompt => 'Select a Department...' }, { class: "w-full p-1 bg-miru-gray-100 border border-gray-300 rounded-md  focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" } %>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="field">
      <label class="tracking-wider block text-xs font-normal text-miru-dark-purple-1000"><%= t('team.form_team_lead') %></label>
      <div class="mt-1">
        <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
          <div class="flex items-center">
            <%= f.radio_button :team_lead, true, :checked=>resource.team_lead, value: true, class: "focus:ring-miru-han-purple-1000 h-4 w-4 border-miru-han-purple-1000 text-miru-dark-purple-1000 cursor-pointer" %>
            <label for="Owner" class="ml-3 block text-sm font-medium text-miru-dark-purple-1000">
              Yes
            </label>
          </div>

          <div class="flex items-center">
            <%= f.radio_button :team_lead, false, :checked=>!resource.team_lead, value: false, class: "focus:ring-miru-han-purple-1000 h-4 w-4 border-miru-han-purple-1000 text-miru-dark-purple-1000 cursor-pointer" %>
            <label for="admin" class="ml-3 block text-sm font-medium text-miru-dark-purple-1000">
              No
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="field">
      <label class="tracking-wider block text-xs font-normal text-miru-dark-purple-1000">
        <%= t('team.form_photo') %>
      </label>
      <div class="mt-2">
        <%= f.file_field :avatar, direct_upload: true, accept: "image/png,image/gif,image/jpeg", class: "rounded tracking-wider bg-miru-gray-100 appearance-none border border-gray-100 block w-full h-full px-3 py-2 h-8 shadow-sm font-medium text-sm text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base" %>
      </div>
    </div>
  </div>

  <%= f.hidden_field :current_workspace_id, value: current_company.id %>

  <div class="actions mt-4">
    <%= f.submit "SEND INVITE", class: "tracking-widest h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm text-base font-sans font-medium text-miru-white-1000 bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded cursor-pointer" , "data-cy": "send-invite-button" %>
  </div>

<% end %>
