<style>
html {
  -webkit-print-color-adjust: exact;
}
 body {
  font-family: "Roboto";
  font-size: 14px !important;
}
</style>
<div class="main">
  <div class="flex justify-between border-b-2 border-miru-gray-400 p-10 h-50">
    <div class="flex">
      <div class="h-20 w-20 mr-5">
        <%=image_tag company_logo%>
      </div>

      <div class="mt-2">
        <p class="font-bold text-3xl text-miru-dark-purple-1000">
          <%=invoice.company.name%>
        </p>
        <p class="mt-1 font-normal text-base text-miru-dark-purple-1000">
          <%=invoice.company.business_phone%>
        </p>
      </div>
    </div>
    <div class="mt-2 font-normal text-base text-right text-miru-dark-purple-1000 w-40">
      <p><%=invoice.company.formatted_address%></p>
    </div>
  </div>

  <div class="flex justify-between border-b-2 border-miru-gray-400 px-10 py-5 h-36">
    <div class="w-1/3">
      <p class="font-normal text-xs text-miru-dark-purple-1000 flex">Billed to</p>
      <div>
        <p class="font-bold text-base text-miru-dark-purple-1000">
          <%=client.name%>
        </p>
        <p class="font-normal text-xs text-miru-dark-purple-400 truncate">
          <%=client.formatted_address%><br><%=client.phone%>
        </p>
      </div>
    </div>
    <div class="w-1/4">
      <p class="font-normal text-xs text-miru-dark-purple-1000 flex">Date of Issue</p>
      <p class="font-normal text-base text-miru-dark-purple-1000">
        <%= invoice.formatted_issue_date %>
      </p>
      <p class="font-normal text-xs text-miru-dark-purple-1000 mt-4">Due Date</p>
      <p class="font-normal text-base text-miru-dark-purple-1000">
        <%= invoice.formatted_due_date %>
      </p>
    </div>
    <div class="w-1/3">
      <p class="font-normal text-xs text-miru-dark-purple-1000">Invoice Number</p>
      <p class="font-normal text-base text-miru-dark-purple-1000">
        <%=invoice["invoice_number"]%>
      </p>
      <p class="font-normal text-xs text-miru-dark-purple-1000 mt-4">Reference</p>
      <p class="font-normal text-base text-miru-dark-purple-1000 truncate">
        <%=invoice["reference"]%>
      </p>
    </div>
    <div class="w-1/5 text-right">
      <p class="font-normal text-xs text-miru-dark-purple-1000 text-right">Amount</p>
      <p class="font-normal text-2xl text-miru-dark-purple-1000 mt-1">
        <%=invoice_amount%>
      </p>
    </div>
  </div>
  <div class="px-10 pt-5">
    <table class="w-full table-fixed">
      <thead class="my-2">
        <tr>
          <th class="text-miru-dark-purple-600 font-normal text-xs text-left tracking-widest">NAME</th>
          <th class="px-3 text-miru-dark-purple-600 font-normal text-xs text-left tracking-widest">DATE</th>
          <th class="pl-2 text-miru-dark-purple-600 font-normal text-xs text-left tracking-widest w-1/3">DESCRIPTION</th>
          <th class="text-miru-dark-purple-600 font-normal text-xs text-right tracking-widest">RATE</th>
          <th class="text-miru-dark-purple-600 font-normal text-xs text-right tracking-widest">QTY</th>
          <th class="text-miru-dark-purple-600 font-normal text-xs text-right tracking-widest">LINE TOTAL</th>
        </tr>
      </thead>
      <tbody class="w-full">
        <%invoice_line_items.each do |item| %>
          <tr>
            <td class="border-b-2 border-miru-gray-200 px-1 py-3 font-normal text-base text-miru-dark-purple-1000 text-left "><%=item[:name]%></td>
            <td class="border-b-2 border-miru-gray-200 py-3 font-normal text-base text-miru-dark-purple-1000 text-left"><%=item[:date]%></td>
            <td class="border-b-2 border-miru-gray-200 px-1 pl-2 py-3 font-normal text-base text-miru-dark-purple-1000 text-left ">
              <%=item[:description]%>
            </td>
            <td class="border-b-2 border-miru-gray-200 px-1 py-3 font-normal text-base text-miru-dark-purple-1000 text-right ">
              <%=item[:rate]%>
            </td>
            <td class="border-b-2 border-miru-gray-200 px-1 py-3 font-normal text-base text-miru-dark-purple-1000 text-right ">
              <%=item[:quantity]%>
            </td>
            <td class="border-b-2 border-miru-gray-200 px-1 py-3 font-normal text-base text-miru-dark-purple-1000 text-right ">
              <%=item[:line_total]%>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pt-1 pb-10 pr-10 mb-5 w-full flex justify-end">
    <table class="w-2/5">
      <tbody>
        <tr>
          <td class="font-normal text-base text-miru-dark-purple-1000 text-right pr-10">Sub total</td>
          <td class="font-bold text-base text-miru-dark-purple-1000 text-right "><%=sub_total%></td>
        </tr>
        <tr class="pb-5 border-b-2 miru-gray-400 ">
          <td class="py-2 font-normal text-base text-miru-dark-purple-1000 text-right pr-10">Discount</td>
          <td class="font-bold text-base text-miru-dark-purple-1000 text-right "><%=invoice_discount%></td>
        </tr>
        <tr>
          <td class="pt-4 font-normal text-base text-miru-dark-purple-1000 text-right pr-10">Tax</td>
          <td class="pt-4 font-bold text-base text-miru-dark-purple-1000 text-right w-22">
            <%=invoice_tax%>
          </td>
        </tr>
        <tr>
          <td class="pt-1 font-normal text-base text-miru-dark-purple-1000 text-right pr-10">Total</td>
          <td class="font-bold text-base text-miru-dark-purple-1000 text-right">
            <%=total%>
          </td>
        </tr>
        <tr>
          <td class="pt-1 font-normal text-base text-miru-dark-purple-1000 text-right pr-10">Amount Paid</td>
          <td class="font-bold text-base text-miru-dark-purple-1000 text-right "><%=invoice_amount_paid%></td>
        </tr>
        <tr>
          <td class="pt-1 font-normal text-base text-miru-dark-purple-1000 text-right pr-10">Amount Due</td>
          <td class="font-bold text-base text-miru-dark-purple-1000 text-right">
            <%=invoice_amount_due%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
