<div style="display: flex; justify-content: center; align-items: center; border-bottom: 2px solid #ccc; padding: 10px; height: 30px;">
  <h2>Time Entry Report</h2>
</div>

<div style="display: flex; justify-content: space-between; padding: 10px;">
  <table style="width: 100%; border-collapse: collapse">
    <thead>
      <th style="text-align: left; flex-basis: 25%; border: 1px solid #000;">
        <p>Project\</p>
        <p>Client</p>
      </th>
      <th style="text-align: left; flex-basis: 25%; padding: 3px;border: 1px solid #000; ">
        Note
      </th>
      <th style="text-align: left; flex-basis: 25%; border: 1px solid #000; ">
        <p>Team Member\</p>
        <p>Date</p>
      </th>
      <th style="text-align: left; flex-basis: 25%; padding: 1px;border: 1px solid #000; ">
        Hours Logged
      </th>
    </thead>
    <tbody>
      <% report_data.each do |report| %>
        <% report[:entries].each do |entry| %>
          <tr>
            <td style="font-size: 14px; text-align: center; flex-basis: 25%; padding: 2px; border: 1px solid #000;">
              <p style="color: #1F2937; margin: 0;">
                <%= entry.project_name %>
              </p>
              <p style="color: #6B7280; margin: 0;">
                <%= entry.client_name %>
              </p>
            </td>
            <td style="text-align: left; font-size: 14px; flex-basis: 25%; padding: 2px;border: 1px solid #000;">
              <%= entry.note %>
            </td>
            <td style="font-size: 14px; text-align: left; flex-basis: 25%; padding: 2px;border: 1px solid #000;">
              <p style="color: #1F2937; margin: 0;">
                <%= entry.user_name %>
              </p>
              <p style="color: #6B7280; margin: 0;">
                <%= CompanyDateFormattingService.new(entry.work_date, company: current_company, es_date_presence: true).process %>
              </p>
            </td>
            <td style="text-align: left; flex-basis: 25%; padding: 2px; border: 1px solid #000;">
              <%= DurationFormatter.new(entry.duration).process %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
