<%= render "partial/navbar" %>

<div class="max-w-6xl mx-auto px-2 md:px-11 font-manrope">
  <div class="px-5">
    <%= form_with model: @company, url: company_path(@company), method: :put, local: true do |form| %>

      <div class="sm:flex sm:items-center sm:justify-between mt-6 mb-3">
        <div class="flex-1 min-w-0">
          <h2 class="text-3xl font-extrabold leading-7 text-gray-900 sm:text-4xl sm:truncate py-1">
            Settings
          </h2>
        </div>
        <div class="mt-6 flex sm:mt-0 md:ml-4">

          <div type="button" class="ml-2 tracking-widest inline-flex items-center h-10 w-full flex justify-center py-1 px-4 border-2 border-miru-han-purple-1000 shadow-sm bg-transparent hover:border-miru-han-purple-600 focus:outline-none rounded">
            <img src="<%= image_url 'cancel_button.svg' %>" class="-ml-0.5 mr-2 h-4 w-4 ">
            <%= link_to "CANCEL", :back, class: "text-base font-sans font-medium text-miru-han-purple-1000 bg-transparent hover:text-miru-han-purple-600 cursor-pointer" %>
          </div>

          <div type="button" class="ml-2 tracking-widest inline-flex items-center h-10 w-full flex justify-center py-1 px-4 border border-transparent shadow-sm bg-miru-han-purple-1000 hover:bg-miru-han-purple-600 focus:outline-none rounded">
            <img src="<%= image_url 'save_button.svg' %>" class="-ml-0.5 mr-2 h-4 w-4 ">
            <%= form.submit "SAVE", class: "text-base font-sans font-medium text-miru-white-1000 bg-transparent cursor-pointer" %>
          </div>
        </div>
      </div>
      <div class="sm:flex sm:items-center sm:justify-between mt-3 mb-3">
        <div class="flex-1 min-w-0">
          <h2 class="<%= request.path == "/profile" ? "underline font-extrabold" : "font-normal" %> text-xs text-miru-han-purple-1000 hover:text-miru-han-purple-600 tracking-widest leading-7 sm:text-base sm:truncate py-1 cursor-pointer">
            <%= link_to "PROFILE SETTINGS", "/profile" %>
          </h2>
        </div>
        <div class="flex-1 min-w-0">
          <h2 class="<%= request.path == "/company" ? "underline font-extrabold" : "font-normal" %> text-xs text-miru-han-purple-1000 hover:text-miru-han-purple-600 tracking-widest leading-7 sm:text-base sm:truncate py-1 cursor-pointer">
            <%= link_to "ORGANIZATION SETTINGS", "/company" %>
          </h2>
        </div>
      </div>

      <div class="bg-miru-gray-100 p-10">
        <div class="max-w-max sm:max-w-md">

          <div class="field">
            <label class="tracking-wider block text-sm font-semibold text-miru-dark-purple-1000">Logo</label>
            <div class="mt-2">
              <% if @company.logo.attached? %>
                <div class="flex items-center space-x-4 lg:space-x-6">
                  <div class="relative w-24 h-24 rounded-full border-solid border-4 border-miru-han-purple-1000 bg-white flex justify-center items-center hover:cursor-pointer">
                    <div class="flex items-center justify-center">
                      <%= image_tag @company.logo, class: "rounded-full" %>
                    </div>
                  </div>
                  <%= link_to image_tag("#{image_url 'delete_image_button.svg'}"), company_purge_companylogo_path(id: @company), method: :delete, class: "font-medium text-lg leading-6 space-y-1 hover:border-2 hover:border-miru-han-purple-1000"%>
                </div>
              <% else %>
                <div x-data="showImage()">
                  <div class="relative w-24 h-24 rounded-md border-solid border-4 border-miru-han-purple-1000 bg-white flex justify-center items-center hover:cursor-pointer">
                    <div class="flex items-center justify-center">
                      <label>
                        <div class="flex flex-col items-center">
                          <img id="preview" class="absolute ml-1 mt-1 inset-0 w-20 h-20 rounded-md">
                          <img src="<%= image_url 'plus_icon.svg' %>" class="mt-8">
                          <div class="opacity-0" accept="image/*" @change="showPreview(event)">
                            <%= form.file_field :logo %>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>


          <div class="mt-4">
            <div class="field">
              <%= form.label :company, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
              <div class="mt-2">
                <%= form.text_field :name, autofocus: true, autocomplete: "name", class: "rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base" %>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <div class="field">
              <%= form.label :address, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
              <div class="mt-2">
                <%= form.text_area :address, autofocus: true, autocomplete: "address", class: "rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base" %>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <div class="field">
              <%= form.label :business_phone, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
              <div class="mt-2">
                <%= form.text_field :business_phone, autofocus: true, autocomplete: "business-phone", class: "rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base" %>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <div class="field">
              <%= form.label :country, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
              <select name="company[country]" id="company_country" class="rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000">
                <% ISO3166::Country.pluck(:alpha2, :name).each do |c| %>
                  <option <%= @company.country == "#{c.first}" ? "selected" : "" %> value="<%= c.first %>"><%= c.second %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="mt-4">
            <div class="field">
              <%= form.label :timezone, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
              <select name="company[timezone]" id="company_timezone" class="rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000">
                <% TZInfo::Timezone.all_country_zones.each do |t| %>
                  <option <%= @company.timezone == "#{t.to_s}" ? "selected" : "" %> value="<%= t.to_s %>"><%= t.to_s %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="mt-4">
            <div class="field">
              <%= form.label :base_currency, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
              <select name="company[base_currency]" id="base_currency" class="rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000">
                <% Money::Currency.table.each do |k, v| %>
                  <option <%= @company.base_currency == "#{v[:iso_code]}" ? "selected" : "" %> value="<%=v[:iso_code] %>"> <%= v[:name] %> </option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="mt-4">
            <div class="field">
              <%= form.label :standard_price, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
              <div class="mt-2">
                <%= form.number_field :standard_price, autofocus: true, autocomplete: "business-phone", class: "rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000 sm:text-base" %>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <div class="field">
              <%= form.label :fiscal_year_end, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>
              <select name="company[fiscal_year_end]" id="fiscal_year_end" class="rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000">
                <% (1..12).each do |month| %>
                  <option <%= @company.fiscal_year_end == "#{Date::MONTHNAMES[month]}" ? "selected" : "" %> value="<%= Date::MONTHNAMES[month] %>"><%= Date::MONTHNAMES[month] %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="mt-4">
            <div class="field">
              <%= form.label :date_format, class: "tracking-wider block text-sm font-semibold text-miru-dark-purple-1000" %>

              <select name="company[date_format]" id="date_format" class="rounded tracking-wider appearance-none border border-gray-100 block w-full px-3 py-2 bg-miru-white-100 h-8 shadow-sm font-semibold text-xs text-miru-dark-purple-1000 focus:outline-none focus:ring-miru-gray-1000 focus:border-miru-gray-1000" value="<%  %>">
                <option <%= @company.date_format == "DD-MM-YYYY" ? "selected" : "" %> value="DD-MM-YYYY">DD-MM-YYYY</option>
                <option <%= @company.date_format == "MM-DD-YYYY" ? "selected" : "" %> value="MM-DD-YYYY">MM-DD-YYYY</option>
                <option <%= @company.date_format == "YYYY-MM-DD" ? "selected" : "" %> value="YYYY-MM-DD">YYYY-MM-DD</option>
              </select>
            </div>
          </div>
    <% end %>
    </div>
    </div>
  </div>
</div>

<script>
  function showImage() {
    return {
      showPreview(event) {
        if (event.target.files.length > 0) {
          var src = URL.createObjectURL(event.target.files[0]);
          var preview = document.getElementById("preview");
          preview.src = src;
          preview.style.display = "block";
        }
      }
    }
  }
</script>
