<p><%= t("devise.mailer.invitation_instructions.hi", name: @resource.first_name) %></p>

<p><%= t("devise.mailer.invitation_instructions.info") %></p>
<ul>
<li><%= t("devise.mailer.invitation_instructions.info_point_1") %></li>
<li><%= t("devise.mailer.invitation_instructions.info_point_2") %></li>
<li><%= t("devise.mailer.invitation_instructions.info_point_3") %></li>
<li><%= t("devise.mailer.invitation_instructions.info_point_4") %></li>
</ul>

<% if @token.present? %>
  <p><%= t("devise.mailer.invitation_instructions.confirm") %></p>
  <p><%= link_to t("devise.mailer.invitation_instructions.confirm_link"), accept_invitation_url(@resource, invitation_token: @token) %></p>
<% else %>
  <p><%= link_to "Visit workspace", root_url %></p>
<% end %>
</br>
<p><%= t("devise.mailer.invitation_instructions.cheers") %></p>
<%= t("devise.mailer.invitation_instructions.team_miru") %>
