<p><%= t("devise.mailer.invitation_instructions.hi", name: @resource.first_name) %></p>

<p><%= t("devise.mailer.invitation_instructions.info") %></p>
<ul>
  <%- t("devise.mailer.invitation_instructions.info_points", default: []).each do |point| %>
    <li><%= point %></li>
  <% end %>
</ul>

<p><%= t("devise.mailer.invitation_instructions.confirm") %></p>

<% if @token.present? %>
  <p><%= link_to t("devise.mailer.invitation_instructions.confirm_link"), accept_invitation_url(@resource, invitation_token: @token) %></p>
<% else %>
  <p><%= link_to t("devise.mailer.invitation_instructions.confirm_link"), root_url %></p>
<% end %>
<p><%= t("devise.mailer.sign") %></p>
