<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <%= render 'shared/email_styles' %>
    <style>
      .reset-password-button { border-radius: 20px; background: #5B34EA; text-align: center; display: inline-block; padding: 12px 24px; margin: 16px 0; }
      .reset-password-button a { font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700; font-size: 12px; line-height: 16px; color: #FFFFFF !important; text-decoration: none; }
    </style>
  </head>
  <body>
    <div class="mail">
      <div class="container">
        <%= image_tag "Password_Banner.png", class: "banner", alt: "Password reset banner" %>
        <p class="header">Reset Your Miru Password</p>
        <p>Hello, we received a request to change the password associated with</p>
        <p><b><%= @resource.email %></b>.</p>
        <p>Please use the following link to reset your password</p>
        <p class="reset-password-button"><%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token) %></p>
        <hr />
        <p>If you did not request to change your password, rest assured and ignore this email. This link will expire after 6 hours.</p>
      </div>
      <%= render "shared/email_footer" %>
    </div>
  </body>
</html>
