
<%= stylesheet_link_tag "application" %>

<div class="container">
<p class="header">Reset Your Miru Password</p>

<p>Hello, we received a request to change the password associated with</p>
<p><b><%= @resource.email %></b>.</p>
<p>Please use the following link to reset your password</p>

<p class="reset-password-button"><%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token) %></p>

<hr />

<p>If you did not request to change your password, rest assured and ignore this email. This link will expire after 24 hours.</p>
</div>

<%= render "devise/shared/footer" %>

<p>After changing the password, you can login using this link: <%= link_to 'app.miru.so', "https://app.miru.so" %>

<p><i>Note that the link will expire in 4 days.</i></p>

<p>If you did not ask to reset your password, you may want to review your recent account access for any unusual activity.</p>

<p>We're here to help if you need it. Visit the Help Centre for more info or <%= link_to 'Contact Us', "https://miru.so" %> </p>
