<div class="max-w-6xl mx-auto px-2 md:px-11 font-manrope">
  <div class="px-5">
    <div>
      <div class="sm:flex sm:items-center sm:justify-between mt-6 mb-3">
        <div class="flex">
          <h2 class="text-3xl font-extrabold leading-7 text-gray-900 sm:text-4xl sm:truncate py-1">
            <%= t("reports.heading") %>
          </h2>
          <div class="ml-3 relative" x-data="{ isOpen: false}">
            <div class="px-2 py-1 border-2 border-miru-gray-1000 bg-miru-gray-600">
              <button type="button" class="flex" id="user-menu-button" aria-expanded="false" aria-haspopup="true" @click="isOpen = !isOpen" @keydown.escape="isOpen = false">
                <%= image_tag 'export_icon.svg', class:"mr-1 h-5 w-5" %>
                <span class="uppercase text-miru-han-purple-1000 font-bold">Export</span>
                <%= image_tag 'down_arrow.svg', class:"mr-1 h-5 w-5 pt-1 pl-1" %>
              </button>
            </div>
            <div x-show="isOpen" @click.away="isOpen = false">
              <div class="navbar__open-profile-menu w-44" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <%= button_to profile_path, method: :get, class: "navbar__profile-menu_settings", id:"menu-item-0", role:"menuitem", tabindex:"-1" do %>
                  <%= image_tag 'csv_icon.svg', class:"mr-3 h-5 w-5" %>
                  Export as CSV
                <% end %>
                <%= button_to destroy_user_session_path, method: :delete, class: "navbar__profile-menu_logout", id:"menu-item-0", role:"menuitem", tabindex:"-1" do %>
                  <%= image_tag 'pdf_icon.svg', class:"mr-3 h-5 w-5" %>
                  Export as PDF
                <% end %>
                <%= button_to destroy_user_session_path, method: :delete, class: "navbar__profile-menu_logout", id:"menu-item-0", role:"menuitem", tabindex:"-1" do %>
                  <%= image_tag 'print_icon.svg', class:"mr-3 h-5 w-5" %>
                  Print
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= react_component("Reports") %>

    </div>
  </div>
</div>
