<!DOCTYPE html>
<html>
  <head>
    <title>Miru | Time tracking and invoicing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:title" content="Miru | Time tracking and invoicing">
    <meta property="og:description" content="Miru is an open-source tool for time tracking, invoice management, and accounting easy for small businesses worldwide.">
    <meta property="og:image" content="<%= image_url('logo.jpg') %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="https://app.miru.so/">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application.tsx' %>

  </head>
  <body>
    <main class="min-h-screen bg-miru-white-400">
      <div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
