<!DOCTYPE html>
<html>
  <head>
    <title>Miru | Time tracking and invoicing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application"%>
    <!-- Hotjar Tracking Code for Miru -->
    <% if Rails.env.production? %>
      <script>
        (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:3014298,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
    <% end %>
  </head>
  <body>
    <main class="min-h-screen bg-miru-white-400">
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
          toastr.<%= type %>('<%= value %>')
        <% end %>
      </script>
      <div>
        <%= render "partial/navbar" if user_signed_in? %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
